<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>电子展厅</title>
    <meta name="keywords" content="">
    <meta name="renderer" content="">
    <meta name="description" content="">
    <!--窗口logo显示-->
    <!--<link rel="icon" href="images/favicon.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />-->

    <!--<link rel="stylesheet" type="text/css" href="css/common.css" />-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/erp/css/com.css" />




    <!--[if IE 6]>
    <script type="text/javascript" src="__STATIC__/erp/js/Png.js"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a, p, span, em');
    </script>
    <![endif]-->
</head>
<body>
<div class="box">
    <div class="room_com">

        <div class="zt_list">
            <ul id="electron_ul">
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img_txt">
                        <a href="javascript:;" class="img"><img src="__STATIC__/erp/images/zt_img.jpg" alt=""></a>
                        <div class="txt">
                            <h3>3Ｄ全景主卧设计</h3>
                            <p><span>类别</span>３ＤＭＡＸ全景效果图</p>
                            <p><span>设计师</span>小小小</p>
                            <p><span>上传时间</span>2017-01-02</p>
                            <p title="暂无"><span>说明</span>暂无</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pages" id="electron_page">
                <a href="javascript:void(0);">下一页</a>
                <a href="javascript:void(0);">5</a>
                <a href="javascript:void(0);" class="more">...</a>
                <a href="javascript:void(0);">4</a>
                <a href="javascript:void(0);">3</a>
                <a href="javascript:void(0);">2</a>
                <a href="javascript:void(0);" class="current">1</a>
                <a href="javascript:void(0);">上一页</a>
            </div>
        </div>
    </div>
</div>
{include file="base/js" /}
<script>
    $(function () {
        getElectronData(1,8);
    });
    function getElectronData(page,rows) {
        var index=page ? page: '1';
        var number=rows ? rows:'8';
        var url='{:url("index/getElectronData")}';
        $.post(url,{page:index,rows:number},function (data) {
            if(data.code=="1001"){
                var obj=data.data;
                var str='';
                if(obj.total!=0){
                    var p='';
                    $.each(obj.rows,function (i,t) {
                       str+='<li><div class="img_txt">';
                       str+='<a href="javascript:;" class="img">';
                       str+='<img src="'+t.photo_address+'" alt=""></a>';
                       str+='<div class="txt"><h3>'+t.photo_name+'</h3>';
                       str+='<p><span>类别</span>３ＤＭＡＸ全景效果图</p>';
                       str+='<p><span>设计师</span>'+t.uuid+'</p>';
                       str+='<p><span>上传时间</span>'+t.create_time.slice(0,10)+'</p>';
                       if(t.photo_desc){
                           str+='<p title="'+t.photo_desc+'"><span>说明</span>'+t.photo_desc+'</p></div></div></li>';
                       }else{
                           str+='<p title="无"><span>说明</span>无</p></div></div></li>';
                       }

                    });
                    createButton(obj.total,index,number);
                    $("#electron_ul").html('');
                    $("#electron_ul").append(str);
                }else{

                };

            }else{

            }
        },'json')
    }
    function createButton(total,page,rows) {
        var str='';
        var total=total-0;
        var page=page-0;
        var rows=rows-0;
        if(total>rows){
            var index=Math.ceil(total/rows);
            if(page+1>index){
                str+='<a href="javascript:small();">下一页</a>';
            }else{
                str+='<a href="javascript:getElectronData('+(page+1)+','+rows+');">下一页</a>';
            }
            var number=index>5 ? '5':index;
            for(var i=number;i>=1;i--){
                if(i==number-1&&index>5){
                    str+='<a href="javascript:void(0);" class="more">...</a>';
                }
                if(i==page){
                    str+='<a href="javascript:void(0);" class="current">'+i+'</a>';
                }else{
                    str+='<a href="javascript:getElectronData('+i+','+rows+');">'+i+'</a>';
                }
            }
            if(page-1==0){
                str+='<a href="javascript:small();">上一页</a>';
            }else{
                str+='<a href="javascript:getElectronData('+(page-1)+','+rows+');">上一页</a>';
            }

        }else{
            str+='<a href="javascript:small();">下一页</a>';
            str+='<a href="javascript:void(0);" class="current">1</a>';
            str+='<a href="javascript:small();">上一页</a>';
        }

        $("#electron_page").html('');
        $("#electron_page").append(str);
    }
    function small() {
        layer.msg('没有过多数据了',{icon:6});
    }
</script>
</body>
</html>