<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>工作台</title>
		<link href="__STATIC__/erp/css/index_easyui.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="__STATIC__/erp/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="__STATIC__/erp/images/favicon.ico" media="screen" />
	</head>

	<body>
		<div class="container">
			<div id="top">
				<div style="width: 100%;height: 32px;background-image: url(lian-bg.png);margin-bottom: 20px;">
					<h3 style="padding-left: 10px;line-height: 32px;color: #0E2D75;">项目详情</h3>
				</div>
				<div id="top-left">
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">项目名称:</span>
						<a style="text-decoration: none;color: black;"></a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">客户来源:</span>
						<a style="text-decoration: none;color: black;">朋友介绍</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">装修类型:</span>
						<a style="text-decoration: none;color: black;">全包</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">装修档次:</span>
						<a style="text-decoration: none;color: black;">精装</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">色彩取向:</span>
						<a style="text-decoration: none;color: black;">蓝色</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">装修风格:</span>
						<a style="text-decoration: none;color: black;">豪华</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">装修面积:</span>
						<a style="text-decoration: none;color: black;">150平方米</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">预计总工期:</span>
						<a style="text-decoration: none;color: black;">2个月</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">工程预算:</span>
						<a href="" style="text-decoration: none;color: black;">3万元</a>
					</div>
					<div style="margin-bottom:20px">
						<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">项目要求:</span>
						<a style="text-decoration: none;color: black;display: inline-block;width: 200px;height: 40%;">你问过过快乐国税你问过快</a>
					</div>
				</div>
			</div>
			<div id="hd"></div>
			<div id="bd" style="margin-top: 20px;">
				<div class="easyui-tabs" data-options="tabWidth:112" style="width:100%;height:400px">
					<div title="联系人" style="padding:10px">
						<div class="datagrid-view" style="width: 1680px;height: 100%;">
							<div class="datagrid-view1" style="width: 30px;">
								<div class="datagrid-header" style="width: 30px;height: 24px;">
									<div class="datagrid-header-inner" style="display: block;">
										<table class="datagrid-htable" border="0" cellspacing="0" cellpadding="0" style="height: 50px;">
											<tr class="datagrid-header-row" style="height: 25px;">
												<td rowspan="0">
													<div class="datagrid-header-rownumber"></div>
												</td>
											</tr>
											<tr class="datagrid-header-row datagrid-filter-row">
												<td field="_" class></td>
											</tr>
										</table>
									</div>
								</div>
								<div class="datagrid-body" style="width: 30px;margin-top: 0px;height: 500px;">
									<div class="datagrid-body-inner">
										<table class="datagrid-btable" border="0" cellspacing="0" cellpadding="0">
											<tr class="datagrid-row-r2-1-0" id="" datafrid-row-index="0" style="height: 25px;">
												<td class="datagrid-td-rownumber">
													<div class="datagrid-cell-rownumber">1</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="datagrid-footer" style="width: 30px;">
									<div class="datagrid-footer-inner" style="display: none;"></div>
								</div>
							</div>
							<div class="datagrid-view2" style="width: 1650px">
								<div class="datagrid-header" style="width: 1650px;height: 49px;">
									<div class="datagrid-header-inner" style="display: block;">
										<table class="datagrid-htable" border="0" cellspacing="0" cellpadding="0" style="height: 50px;">
											<tr class="datagrid-header-row" style="height: 25px;">
												<td field="node_name">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-node_name" style="text-align: center;">
														<span>姓名</span>
													</div>
												</td>
												<td field="modlue_name">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-modlue_name" style="text-align: center;">
														<span>性别</span>
													</div>
												</td>
												<td field="control_name">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-control_name" style="text-align: center;">
														<span>电话</span>
													</div>
												</td>
												<td field="action_name">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-action_name" style="text-align: center;">
														<span>邮箱</span>
													</div>
												</td>
												<td field="group">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-group" style="text-align: center;">
														<span>QQ</span>
													</div>
												</td>
												<td field="sort">
													<div class="datagrid-cell datagrid-sort datagrid-cell-c2-sort" style="text-align: center;">
														<span>与房产关系</span>
													</div>
												</td>
											</tr>
											<tr class="datagrid-header-row datagrid-filter-row" style="height: 25px;">
												<td field="node_name">
													<div class="datagrid-cell datagrid-cell-c2-node_name " style="text-align: center;font-weight: 100;">张三</div>
												</td>
											</tr>
											<tr class="datagrid-header-row datagrid-filter-row"></tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div title="房屋结构" style="padding:10px">
						<div id="top-left">
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">项目名称:</span>
								<a style="text-decoration: none;color: black;">财富世家</a>
							</div>
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">客户来源:</span>
								<a style="text-decoration: none;color: black;">朋友介绍</a>
							</div>
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">客户来源:</span>
								<a style="text-decoration: none;color: black;">朋友介绍</a>
							</div>
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">项目名称:</span>
								<a style="text-decoration: none;color: black;">财富世家</a>
							</div>
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">客户来源:</span>
								<a style="text-decoration: none;color: black;">朋友介绍</a>
							</div>
							<div style="margin-bottom:20px">
								<span style="margin-right: 25px;margin-left: 15px;display: inline-block;width: 100px;height: 32px;text-align: right;">客户来源:</span>
								<a style="text-decoration: none;color: black;">朋友介绍</a>
							</div>
						 </div>
						</div>
						<div title="楼盘信息" style="padding:10px">

						</div>
						<div title="跟踪日志" style="padding:10px">
							<p>跟踪日志</p>
						</div>
					</div>
				</div>

			</div>
		
			 <script type="text/javascript" src="js/menu.js"></script>
			<script type="text/javascript" src="__STATIC__/erp/js/echarts-all.js"></script>

	</body>

</html>