<link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/icon.css">
<form id="fm" style="padding:0 30px;" method="post" name="form" style="width: 100%;padding-top: 10px;">
    <section style="margin-bottom: 15px;">
        <label class="label_1" style="width: 80px;display: inline-block">新密码:</label>
        <label class="label_2" style="width: 200px;display: inline-block">
            <input class="easyui-validatebox" type="password" name="password" id="password"
                   style="width:60%;">
        </label>
    </section>
    <section style="text-align: center">
        <a href="JavaScript:savaPassword();" class="easyui-linkbutton"  style="width:80px;margin-right: 10px;">确认修改</a>
        <a href="JavaScript:closePassword();" class="easyui-linkbutton"  style="width:80px">取消修改</a>
    </section>

</form>
{include file="base/js" /}
<!--<script type="text/javascript" src="/static/easyui_151/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/jquery.easyui.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/easyui-lang-zh_CN.js"></script>-->
<!--<script type="text/javascript" src="/static/layer/layer.js"></script>-->
<script>
    function savaPassword(){
        if(!$("#password").val()){
            layer.msg("请输入新密码", {icon: 3});
        }
        if($("#password").val().length<4){
            layer.msg("新密码长度小于4位，存在安全隐患，请重新输入", {icon: 3});
        }else{
            $.ajax({
                type: "POST",
                url: "/erp/system/setPersonnelPassword",
                data: {password:$("#password").val()},
                dataType: "json",
                success: function(data){
                    if(data.code=="1001"){
                        layer.msg("密码修改成功,下次登录请用新密码",{icon:1 });
                        setTimeout(function(){
                                    window.parent.layer.closeAll();
                                },1200
                        )
                    }else if(data.code=="1007"){
                        layer.msg(data.msg, {icon: 3});
                    }else{
                        layer.msg("请联系管理员", {icon: 3});
                    };

                }
            });
        }
    }
    function closePassword(){
       window.parent.layer.closeAll();
    }
</script>