<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>车辆管理</title>
    {include file="base_mui/weui_wechat"/}
    <style type="text/css">
        .addBoss {
            margin-top: 50px;
            font-size: 0.26rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }

        .addFirst {
            border-top: 1px solid silver;
            border-left: 1px solid silver;
            border-right: 1px solid silver;
            border-bottom: 1px solid silver;
            border-radius: 0.1rem;
            margin-bottom: 0.3rem;
        }

    </style>
</head>
<body>
<div id="app">


    <header class="mui-bar mui-bar-nav ">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>

        <h1 class="mui-title">车辆管理</h1>
    </header>
    <div class="addBoss" v-cloak>


        <div class="addFirst">
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;" id="aa">车牌号：</div>
                <div style="display: inline-block;width: 64%;">
                    {{res.number}}
                </div>
            </div>
            <!--<div class=""style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">-->

            <!--<div style="display: inline-block;width: 28%;float: left;">车辆状态：</div>-->
            <!--<div style="display: inline-block;width: 64%;">-->
            <!--{{res.status}}-->
            <!--</div>-->
            <!--</div>-->
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;">类型：</div>
                <div style="display: inline-block;width: 64%;">
                    {{res.type}}
                </div>
            </div>
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;">品牌型号：</div>
                <div style="display: inline-block;width: 64%;">
                    {{res.name}}
                </div>
            </div>
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;">车辆描述：</div>
                <div style="display: inline-block;width: 64%;">
                    {{res.desc}}
                </div>
            </div>
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;">车辆状态：</div>
                <div style="display: inline-block;width: 64%;">
                    <span v-if="res.use_status==0">可用</span> <span v-if="res.use_status==1" style="color: red;">不可用</span>
                </div>
            </div>
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;border-bottom: 1px solid #b0aeae">

                <div style="display: inline-block;width: 28%;float: left;">车辆图片：</div>
                <div style="display: inline-block;width: 64%;">
                    <!--{{item.orientation}}-->
                    <img :src="res.photo" :data="res.photo_m" style="width: 3rem"
                         @click="dianji(res.photo_m)">
                </div>
            </div>
            <div class="" style="padding-top: 0.1rem;;padding-bottom: 0.1rem;">

                <div style="display: inline-block;width: 28%;float: left;">操作：</div>
                <div style="display: inline-block;width: 64%;">
                    <a @click="deleteCar(res.guid)">删除</a>&nbsp;&nbsp;
                    <a @click="record(res.guid)">操作记录</a>
                </div>
            </div>

        </div>

    </div>
    <div style="width: 100%;height: 100%;background: rgba(0,0,0,.4);position: fixed;top: 1rem;overflow: scroll;display: none"
         id="img_div" @click="img">
        <img src="" id="img">
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    window.onload = function () {

        var dataA = {};
        mui.ajax("{:url('',['guid'=>$guid])}", {

            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
//            timeout: 10000,//超时时间设置为10秒；
            success: function (response) {
                dataA.res = response;
                var vue = new Vue({
                    el: '#app',
                    data: dataA,
                    methods: {
                        dianji: function (t) {
                            $("#img").attr("src", "/upload/show_images/" + t + "/480_600")
                            $("#img_div").css('display', 'block');

                        },
                        img: function () {
                            $("#img_div").css('display', 'none');
                        },
                        record:function (id) {
                            mui.openWindow({
                                url: "{:url('human/carManageRecord')}/guid/" + id,
                            })
                        },
                        deleteCar: function (id) {


                            mui.confirm("确定退出吗？", "提示");
                            $(".mui-popup-button-bold").on('tap', function () {

                                mui.ajax('{:url("erp/office_vehicle/delcar")}', {
                                    data:{"guid":id},
                                    dataType: 'json',//服务器返回json格式数据
                                    type: 'post',//HTTP请求类型
                                    success: function (response) {
                                        mui.toast(response.msg, {duration: 'short', type: 'div'});
                                        if(response.code==1001){
                                            setTimeout(function () {
                                                history.back()
                                            },2000)
                                        }
                                    }
                                })
                            })





                        }
                    }
                })
            }
        })
    }
</script>