<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>假条详情</title>
    {include file="base_mui/weui_wechat"/}

</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav ">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left  mui-action-back" ></a>
        <h1 class="mui-title">请假详情</h1>
    </header>
    <div class="addBoss" >
        <div class="addPro">请假详情</div>

        <div class="addFirst" v-cloak>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">姓名：</div>
                <div class="detailRightOnly">
                    {{res.leave_username}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">公司：</div>
                <div class="detailRightOnly">
                    {{res.company_name}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">部门：</div>
                <div class="detailRightOnly">
                    {{res.department_name}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">职位：</div>
                <div class="detailRightOnly">
                    {{res.jobs_name}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">请假类型：</div>
                <div class="detailRightOnly">

                    <span v-if="res.leave_type == 1">病假</span>
                    <span v-if="res.leave_type == 2">事假</span>
                    <span v-if="res.leave_type == 3">婚嫁</span>
                    <span v-if="res.leave_type == 4">产假</span>
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">请假事由：</div>
                <div class="detailRightOnly">
                    {{res.leave_content}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">开始日期：</div>
                <div class="detailRightOnly">
                    {{res.start_time}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">结束日期：</div>
                <div class="detailRightOnly">
                    {{res.end_time}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div  class="detailLeftOnly">审核状态：</div>
                <div class="detailRightOnly">
                    <span v-if="res.dep_manager == 0">未审核</span>
                    <span v-if="res.dep_manager == 1" style="color: green">审核通过</span>
                    <span v-if="res.dep_manager == -1" style="color: red">审核未通过</span>
                </div>
            </div>
            <div class="detailBoss ">
                <div  class="detailLeftOnly">审核说明：</div>
                <div class="detailRightOnly">
                    {{res.manager_content}}
                </div>
            </div>

        </div>


    </div>
</div>
</div>
</body>

<script type="text/javascript">
    window.onload = function () {
        var dataA = {};
        var id = ""
        mui.ajax('{:url("",["guid"=>$guid])}', {
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            success: function (response) {
                if (response.code == 1001) {
                    dataA.res = response.data;
                    var vue = new Vue({
                        el: '#app',
                        data: dataA,
                        methods: {
//                            pendingBack:function () {
//                                mui.openWindow({
//                                    url: "{:url('index/leavelistAll')}"
//
//                                })
//
//                            },
                          
                        }
                    })
                }

            }
        })

    }
</script>
</html>
