<form id="fm" style="padding:0 30px;" method="post" name="form">
    <p>
        <span>收款类型：</span>
        <span>{$collect_type}</span>
        <span style="margin-left: 5%">合同编号：</span>
        <span>{$book_number}</span>
        <span style="margin-left: 5%">项目名称：</span>
        <span>{$name}</span>
    </p>
    <section >
        <label for="department_type" class="label_1">自然单据号:</label>
        <label for="department_type" class="label_2">
           {$number}
        </label>
    </section>
    <section >
        <label for="department_type" class="label_1">款项名称:</label>
        <label for="department_type" class="label_2">
            {$collect_name}
        </label>
    </section>
    <section >
        <label for="department_type" class="label_1">计划付款金额:</label>
        <label for="department_type" class="label_2">
            {$price}元
        </label>
    </section>
    <section >
        <label for="department_type" class="label_1">未付款金额:</label>
        <label for="department_type" class="label_2">
            {$price_no}元
        </label>
    </section>
    <section >
        <label for="department_type" class="label_1">付款方式:</label>
        <label for="department_type" class="label_2">
            <input class="easyui-combobox"  id="department_type"  name="payment_id" style="width:80%;" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'guid',textField: 'name',required:true,url:'{:url('showPayStyleJson')}',method:'get',
               ">
        </label>
    </section>
    <section >
        <label  class="label_1">收款账号:</label>
        <label  class="label_2">
            <input class="easyui-combobox"  id="bank_id"  name="bank_id" style="width:80%;" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'guid',textField: 'name',required:true,url:'{:url('showBankJson')}',method:'get',
               ">
        </label>
    </section>
    <section >
        <label class="label_1" style="">实际收款金额:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" value="{$price_no}" type="text" name="collect_price"
                   data-options="required:true,"
                   style="width:75%"> 元
        </label>
    </section>
    <section>
        <label  class="label_1">收款说明:</label>
        <label class="label_2">
            <textarea placeholder="" id="collect_desc" name="collect_desc" style="width:80%;height: 100px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>

