<div style="width: 98%;margin: 1%">
    <table id="collect_plan" class="easyui-datagrid" style="width:100%;height:340px"
           data-options="
                nowrap:false,
				singleSelect: true,
				toolbar: '#tb',
				url: '{$data_url}',
				method: 'post',
				nowrap:false,
				pageSize:20,
				pagination:true,
				rownumbers: true,
			">
        <thead>
        <tr>
            <th data-options="field:'name',align:'center',width:'20%' ,editor:{type:'textbox',
							options:{
								required:true,}},">名称</th>
            <th data-options="field:'collect_value',width:'10%',align:'center',
formatter:function(value,row){
return (value*100)+'%'
},
editor:{type:'numberbox',options:{precision:2,required:true,}}">收款比例</th>
            <th data-options="field:'collect_days',width:'20%',align:'center',
editor:{type:'numberbox',options:{required:true,}}">收款时间间隔(天)</th>
            <th data-options="field:'desc',align:'center',width:'35%' ,editor:'textbox',">备注说明</th>
        </tr>
        </thead>
    </table>
</div>

