<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="__STATIC__/erp/images/favicon.ico" media="screen" />
    <title>7搜装企ERP</title>
    <link href="__STATIC__/erp/css/base.css" rel="stylesheet">
    <link href="__STATIC__/erp/css/login.css" rel="stylesheet">

	<link href="__STATIC__/erp/css/easyui.css" rel="stylesheet">
	<!--<script src="/static/erp/js/login.js" type="text/javascript" charset="utf-8"></script>-->
	<style>
		#applyTrail{width: 100%;display: none;padding-top: 50px;}
		#applyTrail #applyTrail_div{width: 40%;margin: 15px auto;font-size: 18px;letter-spacing: 2px;}
		#applyTrail #applyTrail_div form div{width: 100%;min-width:340px;height: 40px;margin: 10px 0px;}
		#applyTrail #applyTrail_div form div .label_1{width: 20%;min-width:120px;display: inline-block;text-align: right;line-height: 30px;}
		#applyTrail #applyTrail_div form div .label_2{width: 60%;min-width:200px;display: inline-block}
		#applyTrail #applyTrail_div form div .label_2 input{font-size:16px;padding-left:10px ;width: 80%;height: 30px;}
		.apply_a{color: #ffffff;margin:0px 5px;letter-spacing: 1px;text-decoration: none;display: inline-block;width: 25%;height: 35px;line-height: 35px;text-align: center}
		.login-bd{txet-center;}
		.login-bd ul li span{font-size: 25px; ;}
	</style>
</head>
<body>
	{include file="base/login_head" /}
	<div style="list-style-type:none; width: 1200px;padding-left: 300px;font-size: 20px;margin-top: 50px;color: #000000; line-height:40px "class="login-bd" id="login_center">
	
		<ul style="list-style-type:none;letter-spacing:2px"; padding-bottom:10px; border-bottom:1px solid #000;>
	

<li>7搜装企业ERP通过国际互联网络为您提供一种全新的在线办公方式；您只有完全同意下列所有服务条款并完成注册程序，才能成为7搜装企业ERP的用户并使用相应服务。您在使用7搜装企业ERP提供的各项服务之前，应仔细阅读本用户协议。您一旦注册7搜装企业ERP用户，那么您默认同意此服务条款。</li></br>

<li><span>一．服务内容</span>　</br>　

　　7搜装企业ERP的具体服务内容由云紫峰网根据实际情况提供，例如企业信息、企业分享信息以及评论，在线交流等。云紫峰ERP网保留变更、中断或终止部分网络服务的权利。7搜装企业ERP保留根据实际情况随时调整7搜装企业ERP平台提供的服务种类、形式。7搜装企业ERP不承担因业务调整给用户造成的损失。</li></br>

<li><span>二．注册义务</span>　</br>　

为了能使用本服务，您同意以下事项：依本服务注册提示请您填写正确的注册邮箱、密码和名号，并确保今后更新的登陆邮箱、名号、头像等资料的有效性和合法性。若您提供任何违法、不道德或7搜装企业ERP认为不适合在7搜装企业ERP上展示的资料；或者7搜装企业ERP有理由怀疑你的资料属于程序或恶意操作，7搜装企业ERP有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务之全部或任何部分。</br>

7搜装企业ERP无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及或是否为最新资料的责任。</li></br>

<li><span>三．内容使用权</span>　</br>　

用户在7搜装企业ERP网发表的内容（包含但不限于7搜装企业ERP目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表7搜装企业ERP的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。 用户在7搜装企业ERP网发布侵犯他人知识产权或其他合法权益的内容，7搜装企业ERP有权予以删除，7搜装企业ERP不承担任何法律及连带责任，并保留移交司法机关处理的权利。用户不得使用7搜装企业ERP服务发送或传播敏感信息和违反国家法律制度的信息，包括但不限于下列信息：
<br>
1. 反对宪法所确定的基本原则的；</br>

2.危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</br>

3. 损害国家荣誉和利益的；</br>

4. 煽动民族仇恨、民族歧视，破坏民族团结的；</br>

5. 破坏国家宗教政策，宣扬邪教和封建迷信的；</br>

6. 散布谣言，扰乱社会秩序，破坏社会稳定的；</br>

7. 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</br>

8.侮辱或者诽谤他人，侵害</br>

他人合法权益的；</br>

9.含有法律、行政法规禁止的其他内容的。</br>

用户承诺发表言论要：爱国、守法、自律、真实、文明。不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、危害国家安全的、泄露国家机密的、破坏国家宗教政策和民族团结的以及其它违反法律法规及政策的内容。 若用户的行为不符合以上提到的服务条款， 7搜装企业ERP将作出独立判断立即取消用户服务帐号。用户需对自己在网上的行为承担法律责任，7搜装企业ERP不承担任何法律及连带责任。</li></br>

<li><span>四．隐私保护</span>　</br>　

保护用户隐私是7搜装企业ERP的重点原则，7搜装企业ERP通过技术手段、提供隐私保护服务功能、强化内部管理等办法充分保护用户的个人资料安全。

本隐私声明适用于7搜装企业ERP的所有相关服务，随着7搜装企业ERP服务范围的扩大，隐私声明的内容可由7搜装企业ERP随时更新，且毋须另行通知。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。</br>
	
&nbsp;&nbsp;&nbsp;7搜装企业ERP严格保护您企业信息的安全。我们使用各种安全技术和程序来保护您的企业信息不被未经授权的访问、使用或泄漏。</br>

&nbsp;&nbsp;&nbsp;7搜装企业ERP会在法律要求或符合7搜装企业ERP的相关服务条款、软件许可使用协议约定的情况下透露您的企业信息，或者有充分理由相信必须这样做才能：</br>

&nbsp;&nbsp;&nbsp;&nbsp;(a) 满足法律或行政法规的明文规定，或者符合7搜装企业ERP网站适用的法律程序；　</br>　

(b)符合7搜装企业ERP相关服务条款、软件许可使用协议的约定；　</br>　

(c) 保护7搜装企业ERP的权利或财产，以及在紧急情况下保护7搜装企业ERP员工、7搜装企业ERP产品或服务的用户或大众的企业安全。7搜装企业ERP不会未经您的允许将这些信息与第三方共享，本声明已经列出的上述情况除外。</li></br>

<li><span>五．使用准则</span>　</br>　

　　用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，7搜装企业ERP有权直接删除该等违反规定之内容。
除非与7搜装企业ERP单独签订合同，否则不得将社区用于商业目的；7搜装企业ERP仅供个人使用。
不可以通过自动方式创建账户，也不可以对账户使用自动系统执行操作。
用户影响系统总体稳定性或完整性的操作可能会被暂停或终止，直到问题得到解决。
</li></br>



<li><span>六．免责声明</span>　</br>　

　　一旦您注册成为用户即表示您与7搜装企业ERP达成协议，完全接受本服务条款项下的全部条款。对免责声明的解释、修改及更新权均属于7搜装企业ERP所有。</br>

1. 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因7搜装企业ERP原因导致的个人信息的泄漏，7搜装企业ERP不承担任何法律责任；</br>

2. 任何第三方根据7搜装企业ERP各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷，7搜装企业ERP不承认任何法律责任；</br>

3. 任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭，7搜装企业ERP不承担任何法律责任；</li></br>



<li><span>七．服务变更、中断或终止</span>　</br>　

　　如因系统维护或升级的需要而需暂停网络服务、服务功能的调整，7搜装企业ERP网将尽可能事先在网站上进行通告。如发生下列任何一种情形，7搜装企业ERP网有权单方面中断或终止向用户提供服务而无需通知用户：</br>
1.用户提供的企业资料不真实；　　</br>
2.用户违反本服务条款中规定的使用规则；</br>3.未经7搜装企业ERP同意，将7搜装企业ERP平台用于商业目的。</li></br>

<li><span>八．服务条款的完善和修改</span>　</br>　

　　7搜装企业ERP会有权根据互联网的发展和中华人民共和国有关法律、法规的变化，不时地完善和修改7搜装企业ERP服务条款。7搜装企业ERP保留随时修改服务条款的权利，用户在使用7搜装企业ERP平台服务时，有必要对最新的7搜装企业ERP服务条款进行仔细阅读和重新确认，当发生有关争议时，请以最新的服务条款为准。</li></br>

<li><span>九．特别约定</span>　</br>　

　

　用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，7搜装企业ERP有权直接删除该等违反规定之信息，并可以暂停或终止向该用户提供服务。若用户利用本服务从事任何违法或侵权行为，由用户自行承担全部责任，7搜装企业ERP不承担任何法律及连带责任。因此给7搜装企业ERP或任何第三方造成任何损失，用户应负责全额赔偿。</li></ul>
				
				<div class="lg-poster" style='background: url("/static/erp/images/loginbg.png") no-repeat 0px 50px;'>

				</div>
				<div style="text-align: center;" class="qq">
			<a style="text-decoration:none" href="http://www.yzferp.com" >返回首页</a>
		</div>
			</div>
		</div>
	</div>
	<!-- <div class="login-ft" style="padding-top: 100px;">
		<div class="ft-inner">
			<div class="about-us">
				<a href="javascript:;">关于我们</a>
				<a href="javascript:;">法律声明</a>
				<a href="javascript:;">服务条款</a>
				<a href="javascript:;">客服电话：0755-36852777</a>
			</div>
			<div class="address">地址：广东省深圳市罗湖区庐山大厦B座&nbsp;邮编：518000&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2016&nbsp;-&nbsp;2099&nbsp;深圳云紫峰网络科技股份有限公司&nbsp;版权所有</div>
			<!--<div class="other-info">建议使用IE8及以上版本浏览器&nbsp;苏ICP备&nbsp;E-mail：admin@uimaker.com</div>-->

	<!-- 		<div class="other-info">建议使用IE8及以上版本浏览器&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn">粤ICP备16072931号</a></div>
		</div>
	</div> --> 
	{include file="base/login_footer" /}
	<script src="__WEUI__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="__STATIC__/erp/js/jquery.easyui.min.js"></script>
	<script>
		var code_loop;
		var sid;
		$(function(){

            myBrowser();
		});
        function myBrowser(){  //检测浏览器
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器
            var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器
            var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
            var isSafari = userAgent.indexOf("Safari") > -1; //判断是否Safari浏览器
            if (isIE) {
                var IE5 = IE55 = IE6 = IE7 = IE8 = false;
                var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
                reIE.test(userAgent);
                var fIEVersion = parseFloat(RegExp["$1"]);
                IE55 = fIEVersion == 5.5;
                IE6 = fIEVersion == 6.0;
                IE7 = fIEVersion == 7.0;
                IE8 = fIEVersion == 8.0;
                if (IE55) {
                    alert('建议使用高版本浏览器打开本系统！');
                    return "IE55";
                }
                if (IE6) {
                    alert('建议使用高版本浏览器打开本系统！');
                    return "IE6";
                }
                if (IE7) {
                    alert('建议使用高版本浏览器打开本系统！');
                    return "IE7";
                }
                if (IE8) {
                    alert('建议使用高版本浏览器打开本系统！');
                    return "IE8";
                }
            }//isIE end
            if (isFF) {
                return "FF";
            }
            if (isOpera) {
                return "Opera";
            }
        }//myBrowser() end
        //以下是调用上面的函数


        function service() {
            location.href="{:url('PublicView/service')}";
        }
        function statement() {
            location.href="{:url('PublicView/statement')}";
        }
        function aboutUs() {
            location.href="{:url('PublicView/aboutUs')}";
        }
	</script>
</body>

</html>