<form id="fmq" style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">施工阶段：</label>
        <label class="label_2" style="">
            <input id="build_id" class="easyui-combobox" name="build_id"
                   data-options="editable:false,required:true,showSeconds:false,valueField:'guid',textField:'name',url:'{:url('showBuildType',['guid'=>$pro_id])}'
            ,onSelect: function(rec){
                console.log(rec);
                $('#build_name').val(rec.name);
            }
" />
        </label>
    </section>
    <input type="hidden" id="build_name" name="build_name" value="">
    <section>
        <label class="label_1" style="">开始施工:</label>
        <label class="label_2" style="">
            <input  id="build_time" name="build_time"  class= "easyui-datebox" data-options="editable:false,showSeconds:false" required ="required"> </input>
        </label>
    </section>
    <section >
        <label class="label_1" >施工天数:</label>
        <label class="label_2" >
            <input class="easyui-textbox"  name="build_days" id="build_days"
                   data-options="required:true,"
                   style="width:60%">
        </label>
    </section>
    <section>
        <label class="label_1">施工说明:</label>
        <label class="label_2">
            <textarea  name="desc" style="width:80%;height: 70px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>
