<form style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">提醒时间:</label>
        <label class="label_2" style="">
            <input class= "easyui-datetimebox" name="remind_time" data-options="showSeconds:false,editable:false,"  style="width:80%" id="datetime">
        </label>
    </section>
    <section>
        <label class="label_1" style="">提醒内容:</label>
        <label class="label_2" style="">
            <textarea name="remind_content" rows="5" cols="30" style="resize: none;" id="textara1"></textarea>
        </label>
    </section>
</form>