
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/default/easyui.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/icon.css">-->
    <!--<link rel="stylesheet" href="/static/erp/css/submit.css">-->
    {include file="base/css" /}
</head>
<body>
<div style="width: 92%;float: left">
    <div id="tb" style="height:auto;">
        <a style="margin-left: 10px;">搜索条件:</a>
        <a style="margin-left: 15px;">项目名称：<input type="text" id="name"></a>
        <a style="margin-left: 10px;" href="#" class="easyui-linkbutton" onclick="sear()">
            <span class="l-btn-icon icon-search"></span>
            <span class="l-btn-text l-btn-icon-left">搜索</span>
        </a>
    </div>
</div>
<div id="dlog_apply">
</div>
<table id="build_apply" title="项目表"></table>


{include file="base/js" /}
<!--<script type="text/javascript" src="/static/easyui_151/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/jquery.easyui.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/easyui-lang-zh_CN.js"></script>-->
<!--<script type="text/javascript" src="/static/layer/layer.js"></script>-->
<script type="text/javascript">
    $(function(){
        $('#build_apply').datagrid({
            url:'{$data_url}',
            columns:[[
                {field:'project_name',title:'项目名称',width:'15%',align:'center'},
                {field:'build_name',title:'施工阶段',width:'15%',align:'center',
                    formatter:function (value ,row,index){
                        return value+'阶段';
                    }
                },
                {field:'apply_desc',title:'申请原因',width:'20%',align:'center',},
                {field:'apply_name',title:'申请人',width:'10%',align:'center',},
                {field:'op',title:'操作',width:"15%",align:'center',
                    formatter:function(value,row,index){
                        var str="";
//                        var str='<a href="javascript:;" onclick="lookBuildCont(&apos;'+row.build_id+'&apos;)">施工详情</a>&nbsp;&nbsp;&nbsp;';
//                        str+='<a href="javascript:;" onclick="lookbuildPlan(&apos;'+row.project_id+'&apos;)">施工计划</a>&nbsp;&nbsp;&nbsp;';
                        str+='<a href="javascript:;" onclick="lookProjectCategory(&apos;'+row.build_id+'&apos;,&apos;'+row.project_id+'&apos;)">施工图片</a>&nbsp;';
                        str+='<a href="javascript:;" onclick="auditBuildApply(&apos;'+row.guid+'&apos;)">审核</a>&nbsp;';
                        return str;
                    }
                },
            ]],
            singleSelect: true,
            toolbar: '#tb',
            method: 'post',
            nowrap:false,
            pageSize:20,
            pagination:true,
        });
    });
    function sear(){
        var tex=$("#name").val();
        if(tex){
            var str='[{"field":"project_name","op":"contains","value":"'+tex+'","type":"text"}';
            str+=']';
            $('#build_apply').datagrid({
                queryParams: {
                    filterRules:str,
                }
            });
        }else{
            $('#build_apply').datagrid('load',{});
        }
    }
    function lookProjectCategory(a,p) {
        var href="{:url('BuildNone/constructionPhoto')}/pro_id/"+p+"/guid/"+a;
        $("#dlog_apply").dialog({
            title: "施工图片",
            iconCls: 'icon-save',
            width: '80%',
            height: '600',
            cache: false,
            href: href,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
        })
    }
    function auditBuildApply(a) {
        var url='{:url("BuildNone/auditBuildApply")}/guid/'+a;
        $("#dlog_apply").dialog({
            title: '施工审核',
            iconCls: 'icon-save',
            width: 400,
            height: 280,
            cache: false,
            href: '{:url("designExtract/showApprovalEdit")}',
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
            buttons:[
                {
                    text:' 确 认  ',
                    iconCls:'icon-save',
                    handler: function(){
                        $('#dlog_apply').find('form').eq(0).form('submit', {
                            onSubmit: function () {
                                var isValid = $(this).form('validate');
                                if($("#dep_manager").combobox('getValue')=="0"){
                                    $("#dlog_apply").dialog('close');
                                    return false;
                                }
                                if (!isValid) return false;
                                $.messager.progress({text: '处理中，请稍候...'});
                                $.post(url, $(this).serialize(), function (data) {
                                    $.messager.progress('close');
                                    if (data.code != 1001) {
                                        layer.msg(data.msg, {icon: 3});
                                    } else{
                                        layer.msg(data.msg, {icon: 1});
                                        $("#dlog_apply").dialog('close');
                                        $("#build_apply").datagrid('reload');
                                    }
                                }, 'json');
                                return false;
                            }
                        });
                    }
                },
                {
                    text:' 关 闭  ',
                    iconCls:'icon-clear',
                    handler: function(){
                        $('#dlog_apply').dialog('close');
                    }
                }],
        });
    }
</script>
</body>
</html>