
<table id="add_time">
</table>
<div id="button" style="margin-top: 15px;text-align: right">
    <a style="margin-right: 10px;" href="javascript:;" class="easyui-linkbutton" onclick="appointUser()"> 确 定 </a>
</div>

<script type="text/javascript">
    $(function(){
//        var pager = $('#dg').datagrid().datagrid('getPager');	// get the pager of datagrid
        $('#add_time').datagrid({
            url:'{$url}',
            height:315,
            rownumbers:true,
            singleSelect:true,
            pagination:false,
            method:'post',
            columns:[[
                {field:'day_name',title:'天数',width:'20%',align:'center'},
                {field:'day_time',title:'日期',width:'40%',align:'center'},
                {field:'operate',title:'选择',width:'20%',align:'center',formatter:
                    function(value,row,index){
                        return '<input type="checkbox" name="ch" value="'+row.guid+'" > ';

                    }
                }
            ]]
        });
    })
    function appointUser(a){
        var arr=[];
        var num=0;
        $.each($("input[name='ch']"),function(i,n){
            if ($(n).prop("checked")==true){
                num++;
                arr.push($(n).val());
            }
        });
        $("#build_time").textbox('setValue',num);
        $('#build_time_id').val(arr);
        $("#add").dialog('close');
    }
</script>
