<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>云紫峰装企ERP</title>
    {include file="base_mui/weui_wechat"/}

</head>
<body>
<header class="mui-bar mui-bar-nav ">
    <a class=" mui-icon mui-icon-left-nav mui-pull-left mui-action-back" ></a>
    <h1 class="mui-title">申请试用</h1>

</header>
<div style="height: 1rem;text-align: center;line-height: 1rem;margin-top: 1rem">请使用微信下方扫描二维码</div>
<img id="srcCode" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQH-8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyeDlzWkJGUWNjMGkxMDAwMHcwN2oAAgSDf_BZAwQAAAAA" style="width: 80%;height: 80%;margin-left: 10%;margin-top: 1rem">
</body>
<script type="text/javascript">
    window.onload = function () {





    }
</script>
</html>
