{extend name="base_weui/weui_base" /}

{block name="title"}{__block__}{/block}
{block name="footer"}{__block__}{/block}
{block name="foot_js"}{__block__}{/block}
{block name="js_sdk"}{__block__}{/block}

{block name="header"}
<!-- 直接编写的头部内容 -->
<head>
	<div class="weui-msg">
		<div><i class="weui-icon-warn weui-icon_msg-primary"></i></div>
		<div class="weui-msg__text-area">
			<h2 class="weui-msg__title">您正在进行微信绑定操作</h2>
		</div>
	</div>
</head>
{/block}

{block name="main"}
<div class="weui-cells weui-cells_form" id="wex" >

	<div class="weui-cell weui-cell_vcode">
		<div class="weui-cell__hd">
			<label class="weui-label">绑定码</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="tel" placeholder="请输入绑定码"  name="tel" id="tel">
		</div>
		<div class="weui-cell__ft">
			<button class="weui-vcode-btn" style="border: none;"></button>
		</div>
	</div>
	<ul class="wx_p2 weui-msg__desc">
		<li class="wx_p2_li1">温馨提示：</li>
		<li class="wx_p2_li2">1.你正在进行微信绑定操作，一个微信账号只能绑定一次。</li>
		<li class="wx_p2_li2">2.该绑定将会获取你的微信个人信息以便于改善操作流程，不作为商业用途。</li>
		<li class="wx_p2_li2">3.请确保重要信息不被泄露，本公司不承担任何责任。</li>
	</ul>
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" onclick="postData()" id="confirm">确认绑定</a>
	</div>
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_warn" onclick="cancel()">取消绑定</a>
	</div>
</div>
{/block}


{block name="my_js"}

<script type="text/javascript">
	function cancel(){
		location.href="{:url('register')}";
	}

	function postData() {
        var tel_val=$("#tel").val();
        console.log(tel_val)
        if(tel_val==""){
            $.toast("请输入绑定码","forbidden");
            return false;
        }
            if(!/^[0-9]*$/.test(tel_val)){
			$.toast("请输入正确的绑定码","forbidden");
			return false;
		}

        var url = ('');
		var binding_data ;
		binding_data.binding_code = tel_val;
        $.ajax({
            type: "POST",
            url: url,
            data: binding_data,
            dataType: "json",
            success: function(data){
                if(data.code=="1001"){
                    $.toptip(data.msg,1000, 'success');
                    setTimeout(function(){
                        location.href="{:url('bindingSuccess')}";
                    },1500)
                }else{
                    $.toast(data.msg,"forbidden");
                }
            }
        });
    }





</script>
{/block}

