<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    {include file="base_mui/weui_wechat"/}
</head>
<body>
<header class="mui-bar mui-bar-nav ">
    <h1 class="mui-title">登录</h1>
</header>
<div class="pageErp">
    <div class="mt50 fz12  index_top pageIndex">
        <span>正在查看：</span><span>当前登录者</span>
    </div>
    <div class="pageIndex">
        <div></div>
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-dianhua mui-media-object mui-pull-left " style="color: yellowgreen;"></span>

                <div class="mui-media-body">
                    外呼客户
                    <p class='mui-ellipsis'>共一人，今日跟踪0人</p>
                </div>
            </a>
        </li>

        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-gongjuxiang mui-media-object mui-pull-left " style="color: royalblue;"></span>
                <div class="mui-media-body">
                    私有客户
                    <p class='mui-ellipsis'>共一人，今日跟踪0人</p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-dianhua1 mui-media-object mui-pull-left " style="color: brown;"></span>
                <div class="mui-media-body">
                   预约到店
                    <p class='mui-ellipsis'>预约0人，本周0人</i></p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-suo mui-media-object mui-pull-left " style="color: darkcyan;"></span>
                <div class="mui-media-body kaifaing">
                    定金客户
                    <p class='mui-ellipsis'>本周0人，0.00万元</p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-juliceliang01 mui-media-object mui-pull-left " style="color: #00b7f5;"></span>
                <div class="mui-media-body kaifaing">
                    量房客户
                    <p class='mui-ellipsis'>共三人，本周0人</p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-wujiaoxing mui-media-object mui-pull-left " style="color: #8a6d3b;"></span>
                <div class="mui-media-body kaifaing">
                    设计客户
                    <p class='mui-ellipsis'>共18人</p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">
            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-qiandan-copy mui-media-object mui-pull-left " style="color: yellowgreen;"></span>
                <div class="mui-media-body kaifaing">
                    签单客户
                    <p class='mui-ellipsis'>共39人，579.20万元</p>
                </div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media">

            <a href="javascript:;">
                <span class="mui-icon fz24 iconfont icon-jiaoliu mui-media-object mui-pull-left " style="color: #00b7f5;"></span>
                <div class="mui-media-body kaifaing">
                    项目交流
                    <p class='mui-ellipsis'>暂无留言</p>
                </div>

            </a>
        </li>
    </ul>
</div>

<div class="index_center index_pb90 kaifaing">
    <div class="index_type index_a  kaifaing">业务分析</div>
    <div class="index_type index_b mlr17 kaifaing">设计分析</div>
    <div class="index_type index_c mt10 kaifaing">工程分析</div>
    <div class="index_type index_d mlr17 mt10 kaifaing">材料分析</div>

    <div class="mui-content" style="margin-left: -0.1rem;margin-right: -0.1rem">
        <ul class="mui-table-view mui-grid-view mui-grid-9  background_white">
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" id="kehuluru"><a href="javascript:;">
                <span class="mui-icon mui-icon-plus"style="color: burlywood;"></span>
                <div class="mui-media-body fz12" >项目录入</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-huidan " style="color: burlywood;"></span>
                <div class="mui-media-body fz12 kaifaing">回单录入</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-qudaobianji " style="color: burlywood;"></span>
                <div class="mui-media-body fz12 kaifaing">录入渠道</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-gonggongchikehu " style="color: green;"></span>
                <div class="mui-media-body fz12 kaifaing">守护公共池</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-duanxin " style="color: green;"></span>
                <div class="mui-media-body fz12 kaifaing">批量短信</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-kaoqin " style="color: firebrick;"></span>
                <div class="mui-media-body fz12 kaifaing">公司考勤</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-kaoqin " style="color: yellowgreen;"></span>
                <div class="mui-media-body fz12 kaifaing">外出考勤</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-639 " style="color: forestgreen;"></span>
                <div class="mui-media-body fz12 kaifaing">打卡明细</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-zijin " style="color: #337ab7;"></span>
                <div class="mui-media-body fz12 kaifaing">资金流量表</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-qiandan-copy " style="color: brown;"></span>
                <div class="mui-media-body fz12 kaifaing">废单库</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-sheji " style="color: forestgreen;"></span>
                <div class="mui-media-body fz12 kaifaing">设计一览表</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-sousuo1 " style="color: darkorange;"></span>
                <div class="mui-media-body fz12 kaifaing">搜索客户</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-paizhao " style="color: firebrick;"></span>
                <div class="mui-media-body fz12 kaifaing">现场拍照</div></a></li>
            <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" id="foFree"><a href="javascript:;">
                <span class="mui-icon  iconfont icon-store " style="color: firebrick;"></span>
                <div class="mui-media-body fz12 kaifaing">员工信息录入</div></a></li>


        </ul>
    </div>
</div>

<nav class="mui-bar mui-bar-tab ">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-chat">
        <span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">消息</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-contact"></span>
        <span class="mui-tab-label">我的</span>
    </a>

</nav>

</body>
</html>
<script type="text/javascript">
window.onload=function () {
    $(".mui-content").on('tap','#kehuluru',function () {
        mui.openWindow({
           url: "{:url('itemEntry')}"
        })
    });
    $("#foFree").on('tap',function () {
        mui.openWindow({
            url:"{:url('workerInfo')}"
     })
    });
    $(".pending").on('tap','#kehuluru',function () {
        mui.openWindow({
            url: "{:url('itemEntry')}"
        })
    });


//    $(".kaifaing").click(function () {
//
//        mui.toast('项目开发中...',{ duration:'', type:'div' })
//    })

};




</script>


