
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>七搜ERP云管家</title>
    {include file="wechat@base_mui/weui_wechat"/}
    <style >
        .index_topdiv{
            text-align: center;
        }
        .index_headaa{
            text-align: center;
            margin-top: 1rem;
        }
        .index_input{
            display: inline-block;
            width: 5rem!important;
            text-align: left;
        }
        .mt20{
            margin-top: 0.2rem;
        }
    </style>
</head>
<body style="background-color:#F7F7F7 ">
<div class="d_index">
    <!--<div class="index_topdiv">-->
    <!--<img src="/static/mui/image/erpIcon.png"  style="margin-top: 1.35rem;width: 2.62rem;height:1.48rem">-->
    <!--<span style="display: inline-block;margin-top: 1.35rem;width: 2.62rem;height:1.48rem;font-size: 0.5rem;line-height: 1.48rem">云紫峰ERP</span>-->
    <!--</div>-->
    <!--<div style="font-size: 0.40rem;margin-top: 1.2rem">-->
        <!--<div style="display: inline-block;float: left;margin-left: 1.4rem;margin-top: 0.1rem"><img src="/static/mui/image/erpIcon.png"  style="width: 2.1rem;height:1.18rem"></div>-->
        <!--<div style="display: inline-block;line-height: 0.5rem;margin-top: 0.1rem">-->
            <!--<div style="font-weight: bolder;color: #078fa9;margin-left: 0.59rem;">云紫峰</div>-->
            <!--<div style="margin-top: 0.1rem;font-weight: bolder;color: #078fa9;margin-left: 0.45rem">装企ERP</div>-->
        <!--</div>-->

    <!--</div>-->
    <div style="width: 100%;text-align: center;margin-top: 1.5rem">
        <img src="__MUI__/image/zu9.png" style="width: 3.2rem;height: 1.1rem">
    </div>
    <div style="height: 1.05rem;margin-top: 0.8rem;width: 100%;border-top: 1px solid #C5C5C5;border-bottom: 1px solid #C5C5C5;background:white; ">
        <!--<div style="display: inline-block;margin: 0 auto">-->
        <img src="__MUI__/image/user.png" style="margin-left: 0.5rem;margin-top: 0.32rem;width: 0.36rem;height: 0.40rem">
        <!--</div>-->

        <input type="text" style="height:100%;border: 0px solid black;padding-left: 0.5rem;width:85%; font-size: 0.32rem;" placeholder="请输入账号" id="username">
    </div>
    <div style="height: 1.05rem;width: 100%;border-bottom: 1px solid #C5C5C5;background:white; ">
        <!--<div style="display: inline-block;margin: 0 auto">-->
        <img src="__MUI__/image/mima.png" style="margin-left: 0.5rem;margin-top: 0.32rem;width: 0.36rem;height: 0.40rem">
        <!--</div>-->

        <input type="password" style="height: 100%;border: 0px solid black;padding-left: 0.5rem;width:85%;font-size: 0.32rem;" placeholder="请输入密码" id="password">
    </div>


    <div style="width: 100%;padding-left: 0.35rem;padding-right: 0.35rem;height: 0.9rem;margin-top: 0.5rem;text-align: center;line-height: 0.9rem;">
        <button style="width: 100%;background: #068FA9;border-radius: 0.1rem;height: 100%;color: white;font-size: 0.36rem" id="login">登录</button>

    </div>
    <!--<div style="width: 100%;padding-left: 0.35rem;padding-right: 0.35rem;text-align: right;margin-top: 0.2rem">-->
    <!--<span style="width: 100%;font-size: 0.28rem;">微信登录</span>-->
    <!--</div>-->

    <div style="width: 100%;text-align: center;margin-top: 1rem;">
        <div style="display: inline-block;width: 1.28rem" id="apply"><img src="__MUI__/image/icon_woyaoshiyong.png"style="height: 1.3rem;width: 1.28rem;margin-bottom: 0.2rem"><span style="font-size: 0.28rem;color: #068FA9;">我要试用</span></div>
        <div style="display: inline-block;width: 1.28rem;margin-left: 0.8rem" id="wechat"><img src="__MUI__/image/weixin1.png"style="height: 1.2rem;width: 1.2rem;;margin-bottom: 0.2rem"><span style="font-size: 0.28rem;color: #068FA9;">微信登录</span></div>

    </div>








</div>

<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div class="text-center">-->
<!--<input type="text" class="index_input" placeholder="请输入账号" id="username">-->
<!--<input type="password" class="index_input mui-input-password" placeholder="请输入密码" id="password">-->
<!--</div>-->

<!--<div class="mui-button-row mt20 " >-->
<!--<button type="button" class="mui-btn-primary" style="font-size: 0.32rem;height: 1rem;width: 80%" id="login">登录</button>-->
<!--</div>-->
<!--<div class="mui-button-row mt20 " >-->
<!--<button type="button" style="background: #4cd964;font-size: 0.32rem;height: 1rem;width: 80%" id="wechat">微信登录</button>-->
<!--</div>-->
<!--<div class="mui-button-row mt20 " >-->
<!--<button type="button" style="background: #4cd964;font-size: 0.32rem;height: 1rem;width: 80%" id="apply">申请试用</button>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

</body>
</html>
<script type="text/javascript">
    $("#wechat").on("tap",function () {
//        mui.openWindow({
//            url: "{:url('We_action/loginWechat')}"
//        });
//        alert(1);
//        window.location.href="https://www.baidu.com";
        window.location.href="http://wechat.yzferp.com/center/we_action/loginWechat"
    })
    $("#apply").on("tap",function () {
        mui.openWindow({
            url: "{:url('wechat/index/apply')}"
        });
    })
    $("#login").on("tap",function () {
        if($("#username").val()==""){
            mui.toast('账号不能为空',{ duration:'short', type:'div' });
        }else if($("#password").val()==""){
            mui.toast('账号不能为空',{ duration:'short', type:'div' });
        }else{
            var url="{:url("wechat/login/login")}";
            $.ajax({
                type:"POST",
                url:url,
                data:{username:$("#username").val(),password:$("#password").val()},
                success:function(data){
                    if(data.code == "1001"){
                        mui.toast('登录成功',{ duration:'short', type:'div' });
                        setTimeout(function(){
                            mui.openWindow({
//                               url: "{:url('designer')}"
                                url: data.url
                            })
                        },1000);
                    }else{
                        mui.toast('账号或密码错误',{ duration:'short', type:'div' });
                    }
                }
            })
        }
    })
</script>