<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>云紫峰ERP简介</title>
    {include file="base_mui/weui_wechat"/}
    <style>

    </style>
</head>
<body>
<div id="details">


        <!--<img src="/static/erp/images/.png" style="width: 100%">-->
    <div style="text-indent:2em;padding-top: 0.2rem ;padding-left: 0.2rem;padding-right: 0.2rem;line-height: 24px">云紫峰装企业ERP是深圳云紫峰网络科技股份有限公司经过20年家装经验积累研制开发，产品集OA办公、市场部、客服部、行政部、设计部、工程部、材料部、财务部、材料商家、主材商城等管理系统为一体。同时还解决了外出人员考勤打卡难题、监督并提高业务员外出工作效率,软件录入客户后跟踪监督功能。
        <div style="text-indent:2em">设计部量房图片、图纸上传。设计师增减项录入上传、预算书网络打印、杜绝了客户未签单就要求带走预算书的尴尬局面、没有经过上级审核不能打印，截图功能。 工程管理系统有工地营销，自动选择分配项目经理，自动归类项承包项目、发包项目及造价明细，项目经理请款，申购公司主、辅材，为公司创造经济效益。财务系统管理，自动合同多期收款显示，财务收支明细，避免财务漏洞，避免新入门财务不懂核算难题，系统自带两个财务账户，实现对内一本帐，对外一本帐功能。 项目经理账户，核算，请款，申购材料。免去人工核对。材料商账户，避免装企与材料商对账难的问题，在线“采购下单”功能。 行政管理，入职请假，打卡，监督，任务指标下达，实现了真正的自动化办公。</div>
        <div style="text-indent:2em">云紫峰装企ERP这里只有你想不到的，没有我们做不到的。点击“申请试用”将会给您一份意外的收货。</div>
    </div>

</div>

</div>
</body>
<script type="text/javascript">

</script>
</html>
