<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {include file="base/css" /}
</head>
<body>
<div  id="tool">
    <a style="font-size: 14px;">办公用品：</a><input id="name" class="easyui-textbox" placeholder="请输入办公用品名称" type="text" name="name" >
    <a href="#" class="easyui-linkbutton" onclick="searName()">搜 索</a>
    <a href="#" class="easyui-linkbutton" onclick="showAllUser()">显示全部</a>
</div>
<table id="list" class="easyui-datagrid" title="{$title}"></table>

<div id="vehicle"></div>

{include file="base/js" /}
<script type="text/javascript">
    $(function () {
        $('#list').datagrid({
            singleSelect: false,
            rownumbers: true,
            resizeHandle: 'both',
            ctrlSelect: true,
            collapsible: false,
            method: 'post',
            url:'{$data_url}',
            striped: true,
            _customTitle: true,//开启自定义表头
            _customWidth: false,//自定义列宽
            pagination: true,
            showFooter: false,//是否显示合计行
            filterBtnIconCls: 'icon-filter',
            multiSort: true,
            remoteFilter:false,
            pageSize:10,
            columns:[
                [
                    { field: 'name', title: '用品名称',width:'12%',align: 'center',},
                    { field: 'number', title: '数量', width: '12%', align: 'center',},
                    { field: 'unit', title: '单位',width:'8%',align: 'center',},
                    { field: 'desc', title: '描述',width:'18%',align: 'center',},
                    { field: 'op', title: '操作',width:'20%',align: 'center',
                        formatter:function(value,row,index){
                            var str="";
                            str+="<a href='javascript:editCar(&apos;"+row.guid+"&apos;);'>修改</a>&nbsp;&nbsp;";
                            str+="<a href='javascript:delCar(&apos;"+row.guid+"&apos;);'>删除</a>&nbsp;&nbsp;";
                            str+="<a href='javascript:showApplyCarLog(&apos;"+row.guid+"&apos;);'>领取记录</a>";
                            return str;
                        }
                    }
                ]
            ],
            toolbar:'#tool',
            nowrap:false,//超出部分自动换行
        });
    });
    function searName() {
        var name=$("#name").textbox('getValue');
        if (!name){
            showAllUser();
            return false;
        }
        var str='';
        str+='[{"field":"name","op":"contains","value":"'+name+'","type":"text"}';
        str+=']';
        $('#list').datagrid({
            queryParams: {
                filterRules:str,
            }
        });
    }
    function showAllUser() {
        $("#name").textbox('setValue','');
        $('#list').datagrid({
            queryParams: {
                filterRules:{},
            }
        });
    }
    function delCar(a) {
        var url="{:url('delSupplies')}";
        $.post(url,{guid:a},function (data) {
            if (data.code=="1001"){
                layer.msg(data.msg,{icon:2});
                $("#list").datagrid("reload");
            }else{
                layer.msg(data.msg,{icon:2});
            }
        });
    }
    function editCar(a) {
        window.parent.addTab("办公用品信息修改",'{:url("editSupplies")}/guid/'+a,"close")
    }
    function showApplyCarLog(a) {
        $('#vehicle').dialog({
            title: "用品领取申请记录",
            iconCls: 'icon-save',
            width: "80%",
            height: 600,
            cache: false,
            href: "{:url('showApplySuppliesLog')}/guid/"+a,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
        })

    }
</script>
</body>
</html>

