<link rel="stylesheet" type="text/css" href="http://wechat.yzferp.com/static/easyui_151/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://wechat.yzferp.com/static/easyui_151/themes/icon.css">
<form id="fm" style="padding:0 30px;" method="post" name="form" style="width: 100%;padding-top: 10px;">
    <section style="margin-bottom: 15px;display: flex;justify-content: center">
        <label class="label_1" style="width: 120px;display: inline-block">网站重置密码:</label>
        <label class="label_2" style="width: 200px;display: inline-block">
            <input class="easyui-validatebox" type="password" name="password" id="password"
                   style="width:100%;">
        </label>
    </section>
    <section style="text-align: center">
        <a href="JavaScript:savaPassword();" class="easyui-linkbutton"  style="width:80px;margin-right: 10px;">确认修改</a>
    </section>
</form>

<script type="text/javascript" src="http://wechat.yzferp.com/static/erp/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://wechat.yzferp.com/static/erp/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="http://wechat.yzferp.com/static/easyui_151/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="http://wechat.yzferp.com/static/layer/layer.js"></script>




<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d9350108abee587070dd74caada8297d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    function savaPassword(){
        if(!$("#password").val()){
            layer.msg("请输入密码", {icon: 3});
        }
        $.ajax({
            type: "POST",
            url: "",
            data: {password:$("#password").val()},
            dataType: "json",
            success: function(data){
                if(data.code=="1001"){
                    layer.msg(data.msg,{icon:1 });
                }else if(data.code=="1007"){
                    layer.msg(data.msg, {icon: 3});
                }else{
                    layer.msg("请联系管理员", {icon: 3});
                };

            }
        });
    }
</script>