<form id="fm" style="padding:10px 30px;" method="post" name="form">
    <section>
        <label class="label_1">项目名称:</label>
        <label class="label_2">
            {$project_name}
        </label>
    </section>
    <section style="margin-top: 10px;">
        <label class="label_1">说明:</label>
        <label class="label_2">
            <textarea placeholder="请填写说明" name="transfer_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>
