<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">模板名称:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="name" id="name"
                   data-options=""
                   style="width:80%">
        </label>
    </section>
    <section>
        <label  class="label_1">模板备注:</label>
        <label class="label_2">
            <textarea style="width: 80%;resize: none;height: 70px" name="desc" >

            </textarea>
        </label>
    </section>

</form>

