<form id="fmq" style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">图片名称:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="photo_name" id="photo_name"
                   data-options="required:true,validType:'length[1,15]'" style="width:60%">
        </label>
    </section>
    <section >
        <label class="label_1" >图片上传:</label>
        <label class="label_2" >
            <input class="easyui-textbox"  name="photo_address" id="photo_address" readonly
                   data-options=""
                   style="width:60%">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="uploadPhoto()">上&nbsp;传</a>
        </label>
    </section>
    <section>
        <label class="label_1">上传说明:</label>
        <label class="label_2">
            <textarea  name="photo_desc" style="width:80%;height: 70px;outline:none;resize:none;"></textarea>
        </label>
    </section>
    <input type="hidden" id="photo_m" name="photo_m" value="">
</form>
<div id="log">

</div>
<script>
    function uploadPhoto() {
        $("#log").dialog({
            title:'上传图片',
            width:400,
            height:300,
            href:'{:url("Design/showUploadHtml",["idName"=>"photo_address"])}',
        });
    }
</script>