showCollectStyleList.html{extend name="base/edit" /}
{block name="columns"}
<th data-options="field:'collect_name',align:'center',width:'20%' ,editor:{type:'textbox',
							options:{
								required:true,}},">收款类型名称</th>
<!--<th data-options="field:'collect_value',width:'10%',align:'center',-->
                    <!--formatter:function(value,row){-->
                     <!--return (value*100)+'%'-->
                    <!--},-->
						<!--editor:{type:'numberbox',options:{precision:2}}">收款比例</th>-->
<th data-options="field:'desc',align:'center',width:'35%' ,editor:'textbox',">备注说明</th>
<th data-options="field:'op',width:'15%',align:'center',formatter:function(value,row,index){
    if(!row.guid){
        return '';
    }
    return del(row.guid);
}">操作</th>
{/block}
{block name="value"}
{/block}

{block name="default_value"}
collect_value:0.00
{/block}

{/block}