<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>材料信息录入</title>
    {include file="base_mui/weui_wechat"/}
</head>
<style>
    .fileType {
        margin-top: 60px;
        font-size: 15px;
        padding-left: 0.2rem;
    }

    .fileLeft {
        width: 40%;
        display: inline-block;
    }

    .fileRight {
        width: 40%;
        display: inline-block;
    }

    #topPopover {
        position: fixed;
        top: 1.6rem;
        right: 0.6rem;
    }

    #topPopover .mui-popover-arrow {
        left: auto;
        right: 0.6rem;
    }

    .mui-popover {
        height: 20rem;
        width: 80%;

        background-color: white;
    }

    .a-upload {
        padding: 4px 10px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        color: #888;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1
    }

    .a-upload input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #444;
        border-color: #ccc;
        text-decoration: none
    }

    .mui-table-view-cell {
        position: inherit;
    }

    .mui-table-view-cell > a:not(.mui-btn) {
        margin: 0 0;
    }
</style>

<body>
<header class="mui-bar mui-bar-nav ">
    <a class=" mui-icon mui-icon-left-nav mui-pull-left  mui-action-back"></a>

    <h1 class="mui-title">材料信息录入</h1>
</header>
<div class="fileType"></div>
</div>
<div id="app" v-cloak>
    <div style="padding-left: 0.2rem;padding-right: 0.2rem">
        <form name="form" id="upload_form">
            <header class="mui-bar mui-bar-nav ">
                <a class=" mui-icon mui-icon-left-nav mui-pull-left  mui-action-back"></a>
                <h1 class="mui-title">材料信息录入</h1>
            </header>
            <div class="d_both " style="line-height: 0.6rem">
                <div style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    供应商:
                </div>
                <div type="text" class="d_right">
                    <select name="supplier_id" class="border_red"
                            style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem;padding: 0;padding-left: 15px">

                        <option v-for="item in listBusiness" :value="item.guid">{{item.supplier_name}}</option>
                    </select>
                </div>
            </div>

            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    材料名称:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass border_red" type='text' name="material_name"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">规格:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass " type='text' name="specifications"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">品牌:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass " type='text' name="material_pin"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">型号:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass " type='text' onkeyup="value=value.replace(/[^\d]/g,'') " maxlength="11"
                           name="material_version"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both " style="line-height: 0.6rem">
                <div style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    单位:
                </div>
                <div type="text" class="d_right">
                    <select name="unit_name" class=""
                            style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem;padding: 0;padding-left: 15px">

                        <option v-for="item in list" :value="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>
            <div class="d_both " style="line-height: 0.6rem">
                <div style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    类别:
                </div>
                <div type="text" class="d_right">
                    <select name="category_id"
                            style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem;padding: 0;padding-left: 15px">

                        <option v-for="item in listType" :value="item.guid">{{item.category_name}}</option>
                    </select>
                </div>
            </div>

            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">售价:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass border_red" type='text' onkeyup="value=value.replace(/[^\d|.]/g,'') "
                           maxlength="10" name="material_price"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">内部价:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass border_red" type='text' onkeyup="value=value.replace(/[^\d|.]/g,'') "
                           maxlength="10" name="inside_price"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    活动价格:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass " type='text' onkeyup="value=value.replace(/[^\d|.]/g,'') " maxlength="10"
                           name="active_price"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both" style="line-height: 0.6rem">
                <div class=""
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">进价:
                </div>
                <div type="text" class="d_right">
                    <input class="inputclass border_red" type='text' onkeyup="value=value.replace(/[^\d|.]/g,'') "
                           maxlength="10" name="floor_price"
                           style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem">
                </div>
            </div>
            <div class="d_both " style="line-height: 0.6rem">
                <div style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    材料所属:
                </div>
                <div type="text" class="d_right">
                    <select name="type"
                            style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem;padding: 0;padding-left: 15px">
                        <option value="1">主材</option>
                        <option value="2">辅材</option>

                    </select>
                </div>
            </div>
            <div class="d_both " style="line-height: 0.6rem">
                <div style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem">
                    展厅展示:
                </div>
                <div type="text" class="d_right">
                    <select name="show_mark"
                            style="height: 0.6rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem;padding: 0;padding-left: 15px">
                        <option value="1">是</option>
                        <option value="2">否</option>

                    </select>
                </div>
            </div>
            <div class="d_both " style="line-height: 0.6rem;margin-top: 0.1rem">
                <div class="d_left ofh"
                     style="width: 25%;height: 0.6rem;line-height: 0.6rem;display: inline-block;font-size: 0.32rem !important;;float: left">
                    材料说明:
                </div>
                <div type="text" class="d_right" style="margin-left: 0.1rem">
                    <textarea name="material_desc"
                              style="height: 1.2rem;width: 100%;margin-bottom: 0.1rem;font-size: 0.26rem"></textarea>
                </div>
            </div>
            <input type="hidden" name="status" value="0">
            <input id="input" name="material_photo" type="hidden">
            <input name="photo_m" type="hidden" id="md5">
        </form>
    </div>
    <form id="uploadForm">
        <li class="mui-table-view-cell" style="text-align: center">
            <a href="javascript:;" class="a-upload">
                <input type="file" name="file" multiple="multiple" onchange="PhotoupLoad()" accept="image/*"
                       capture="camera">
                <span id="spState" style="font-size: 0.28rem">上传材料图片</span>
            </a>
        </li>
    </form>


</div>
<div class="text-center" style="width: 100%;">

</div>
<img id="image" src="" style="width: 80%;display: none;margin-left: 10%;margin-bottom: 0.2rem">
<div style="width: 100%;padding-left: 0.35rem;padding-right: 0.35rem;height: 0.9rem;margin-top: 0.4rem;text-align: center;line-height: 0.9rem;margin-bottom: 0.4rem">
    <div style="width: 100%;background: #068FA9;border-radius: 0.1rem;height: 100%;color: white;line-height: 0.9rem;font-size: 0.36rem"
         id="push" @click="pushed">提交
    </div>

</div>
</body>
</html>
<script type="text/javascript">
    var dataA = {}
    mui.ajax('{:url("")}', {
        dataType: 'json',//服务器返回json格式数据
        type: 'post',//HTTP请求类型
        success: function (res) {
            dataA = res;
            var myvue = new Vue({
                el: '#app',
                data: dataA,
                methods: {
                    jobs: function () {
                        id = ( $("#testSelect").val());
                        mui.ajax('{:url("erp/user/showJobsJson")}?department=' + id, {

                            dataType: 'json',//服务器返回json格式数据
                            type: 'post',//HTTP请求类型
                            success: function (res) {
                                myvue.$set(myvue.$data, 'job', res);
                            }
                        })
                    }
                },
                mounted: function () {
                }
            })
        }
    })
    function image(data) {
        $("#input").val(data.path);
        $("#md5").val(data.md5);
        $("#image").attr("src", data.path);
        $("#image").css("display", "block");
    }
    //	附件上传
    function PhotoupLoad() {
        var url = "{:url('api/file/uploadPicture')}";
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                spState.innerHTML = "正在上传图片...";
            },
            complete: function () {
                spState.innerHTML = "上传材料图片";
            },
            success: function (returndata) {
                if (returndata.code == 1001 && returndata.data != null) {
                    image(returndata.data);

                } else {
                    mui.alert(returndata.msg);
                }
            },
            error: function (returndata) {
                spState.innerHTML = "上传图片失败";
                mui.alert("上传图片失败");
            }
        });
    }
    $("#push").click(function () {
        var form_data = $("#upload_form").serialize();

        mui.ajax('{:url("erp/material/addmaterialdata")}', {
            data: form_data,
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            success: function (res) {
                mui.toast(res.msg, {duration: 'short', type: 'div'});
                if (res.code == 1001) {
                    setTimeout(function () {
                        history.back()
                    }, 2000)
                }
            }
        })
    })
</script>