<script src="/static/mui/js/mui.min.js"></script>
<link href="/static/mui/css/mui.min.css" rel="stylesheet"/>
<link href="/static/mui/css/main.css" rel="stylesheet"/>
<link href="/static/mui/css/font/iconfont.css" rel="stylesheet"/>
<script src="/static/mui/js/mui.js"></script>
<script src="/static/mui/js/jQuery%20v3.1.1.js"></script>
<script src="/static/mui/js/common.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script type="text/javascript" charset="utf-8" src="/static/mui/js/vue.js"></script>
<script type="text/javascript" src="/static/mui/js/fontsize.js"></script>
