<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/icon.css">
</head>
<body>
<div style="width: 92%;float: left">
    <table id="dg" class="easyui-datagrid" title="项目预算的费率" style="width:100%;height:auto"
           data-options="
                nowrap:false,
				iconCls: 'icon-black',
				singleSelect: true,
				toolbar: '#tb',
				url: '{$list_url}',
				method: 'post',
				nowrap:false,
				onClickRow: onDbClick,
				onEndEdit:editRow,
				pageSize:20,
				pagination:true,
			">
        <thead>
        <tr>
            <th data-options="field:'rate_default_name',align:'center',width:'20%' ,editor:'textbox'">费率值名称</th>
            <th data-options="field:'rate_default_value',align:'center',width:'15%' ,editor:{type:'numberbox',options:{precision:3}}">费率值</th>
            <th style="display: none" data-options="field:'rate_default_type',align:'center',width:'15%' ,
						">运算符号</th>
            <th data-options="field:'desc',align:'center',width:'50%' ,editor:'textarea'">费率值说明</th>
        </tr>
        </thead>
    </table>

    <div id="tb" style="height:auto;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addRow()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">取消当前编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-back',plain:true" onclick="returnTo()">返回预算报价</a>
        <a style="margin-left: 1%;color: #859416">温馨提示：以下所有的费率的费用都是通过直接费用进行运算所得,请谨慎填写以及进行保存！</a>
        <a style="margin-left: 10%;font-size: 16px;font-weight: 400">项目名称：{$title}</a>
    </div>
</div>
{include file="base/js" /}
<!--<script type="text/javascript" src="/static/easyui_151/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/jquery.easyui.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/easyui-lang-zh_CN.js"></script>-->
<!--<script type="text/javascript" src="/static/layer/layer.js"></script>-->
<script type="text/javascript">
    var clickIndex; //点击的下标
    var flag;
    var unit=[{"value":'*','text':'*'}];
    function editRow(index, row, changes) {
        if(!$.isEmptyObject(changes)){
            flag=index;
        }
    }
    function returnTo() {
        window.parent.closeTab('项目费率');
        window.parent.addTab('预算报价',"{:url('addBudget',['id'=>$pro_id])}",'close');
    }
    function  onDbClick(index){
        if(clickIndex===0||clickIndex){
            $('#dg').datagrid('endEdit', clickIndex);
            var  rows= $('#dg').datagrid('getChanges');
            var obj_new=$('#dg').datagrid('getRows')[clickIndex];
            var url='{:url("savaBudgetRate",["project_id"=>$pro_id])}';
                $.ajax({
                    type: "POST",
                    url: url,
                    data:obj_new ,
                    dataType: "json",
                    success: function(data){
                        if (data.code=="1001"){
                            $('#dg').datagrid('endEdit', clickIndex);
                            $('#dg').datagrid('selectRow', index)
                                .datagrid('beginEdit', index);
                            clickIndex=index;
                        }else{

                            layer.msg(data.msg+',请点击重新填写，否则该数据不存在',{icon:2});
                        }
                    }
                });
        }else{
            $('#dg').datagrid('selectRow', index).datagrid('beginEdit', index);
            clickIndex=index;
        }

    }
    function accept(){
        $('#dg').datagrid('endEdit', clickIndex);
        var obj_new=$('#dg').datagrid('getRows')[clickIndex];
        var url='{:url("savaBudgetRate")}/project_id/'+'{$pro_id}';
        ajax(url,obj_new);

    }
    function ajax(url,obj){
        $.ajax({
            type: "POST",
            url: url,
            data:obj ,
            dataType: "json",
            success: function(data){
                if (data.code=="1001"){
                    layer.msg('数据保存成功',{icon:1});
                    removeit();
                }else{
                    $('#dg').datagrid('selectRow', clickIndex) .datagrid('beginEdit', clickIndex);

                    ;
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
    function addRow(){
        if(clickIndex!==undefined){
            if($('#dg').datagrid('validateRow', clickIndex)){
                $('#dg').datagrid('endEdit', clickIndex);
                var obj_new=$('#dg').datagrid('getRows')[clickIndex];
                var url='{:url("savaBudgetRate")}/project_id/'+'{$pro_id}';
                $.ajax({
                    type: "POST",
                    url: url,
                    data:obj_new ,
                    dataType: "json",
                    success: function(data){
                        if (data.code=="1001"){
                            $('#dg').datagrid('insertRow',{index: 0
                                ,row:{}
                            });
                            clickIndex=0,
                                $('#dg').datagrid('selectRow', clickIndex)
                                    .datagrid('beginEdit', clickIndex);
                        }else{
                            $('#dg').datagrid('selectRow', clickIndex)
                                .datagrid('beginEdit', clickIndex);
                            layer.msg(data.msg+',请点击重新填写，否则该数据不存在',{icon:2});
                        }
                    }
                });
            }else{
                return false;
            }

        }else{
            $('#dg').datagrid('insertRow',{index: 0
                ,row:{
                    rate_default_value:0.00,
                    rate_default_type:'*',
                }
            });
            clickIndex=0;
            $('#dg').datagrid('selectRow', clickIndex)
                .datagrid('beginEdit', clickIndex);
        }


    }
    function removeit() {
        $("#dg").datagrid('reload');
    }
</script>
</body>
</html>