{extend name="base_weui/weui_base" /}

{block name="title"}{$title?:'none'}{/block}
{block name="footer"}{__block__}{/block}
{block name="foot_js"}{__block__}{/block}
{block name="js_sdk"}{__block__}{/block}

{block name="header"}
<!-- 直接编写的头部内容 -->
{/block}

{block name="main"}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">用户密码已修改</h2>
        <p class="weui-msg__desc">你已经成功找回密码，快去进行用户登录吧！</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:wx.closeWindow();;" class="weui-btn weui-btn_primary">关闭页面</a>
        </p>
    </div>
</div>
{/block}


{block name="my_js"}
{/block}

