<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>项目明细</title>
    {include file="base_mui/weui_wechat"/}
    <style>
    </style>
</head>
<body>
<div id="details">
    <header class="mui-bar mui-bar-nav ">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
        <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
        <h1 class="mui-title">项目明细</h1>
    </header>
    <div id="topPopover" class="mui-popover "
         style="display:none;font-size: 14px; top: 57px; left: 35px;height: 3rem;width: 2.5rem">
        <div class="mui-popover-arrow" style="left:2.48rem"></div>
        <div class="mui-scroll-wrapper" data-scroll="1">
            <div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                <ul class="mui-table-view">
                    <li class="mui_popver" @click="details()"><a href="#">查看工程</a>
                    </li>
                    <li class="mui_popver" @click="insertday(res.guid)"><a href="#">设置施工日期</a>
                    </li>
                    <!--<li class="mui_popver" @click="inmycompany(res.guid)"><a href="#">公司自营</a>-->
                    <!--</li>-->
                    <li class="mui_popver" @click="log(res.guid)"><a href="#">项目日志</a>
                    </li>
                </ul>
            </div>
            <div class="mui-scrollbar mui-scrollbar-vertical">
                <div class="mui-scrollbar-indicator"
                     style="transition-duration: 0ms; display: none; height: 8px; transform: translate3d(0px, -8px, 0px) translateZ(0px);"></div>
            </div>
        </div>
    </div>
    <div class="addBoss" v-cloak>
        <div class="addFirst">
            <!--<div class="addPro ">施工内容</div>-->

            <div class="detailBoss detail_line">

                <div class="detailLeftOnly">工程地址：</div>
                <div class="detailRightOnly">
                    {{res.address}}
                </div>
            </div>
            <div class="detailBoss detail_line">

                <div class="detailLeftOnly">开始日期：</div>
                <div class="detailRightOnly">
                    {{res.build_time}}
                </div>
            </div>
            <div class="detailBoss detail_line">
                <div class="detailLeftOnly">结束日期：</div>
                <div class="detailRightOnly">
                    {{res.build_end_time}}
                </div>
            </div>
            <div class="detailBoss ">

                <div class="detailLeftOnly">施工天数：</div>
                <div class="detailRightOnly">
                    {{res.build_days}}
                </div>
            </div>
        </div>
        <div v-if="res==''" class="text-center">暂无信息</div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    window.onload = function () {
        var dataA = {};
        mui.ajax("{:url('',['guid'=>$guid])}", {

            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
            success: function (response) {
                dataA.res = response;
                var vue = new Vue({
                    el: '#details',
                    data: dataA,
                    methods: {
                        details: function () {
                            mui.openWindow({
                                url: "{:url('working/projectTypeFinish',['guid'=>$guid])}"
                            })
                        },
                        insertday: function () {
                            mui.openWindow({
                                url: "{:url('working/projectTimeBeforeWorking',['guid'=>$guid])}"
                            })
                        },
                        log: function () {
                            mui.openWindow({
                                url: "{:url('working/projectLogWorking',['guid'=>$guid])}"
                            })
                        },
//                        inmycompany:function () {
//                            mui.openWindow({
//                                url: "{:url('working/projectToOwn',['guid'=>$guid])}"
//                            })
//                        }

                    }
                })
            }
        })
    }
</script>