
<link href="__MUI__/css/mui.min.css" rel="stylesheet"/>


<script src="__MUI__/js/mui.min.js"></script>

<link href="__MUI__/css/main.css" rel="stylesheet"/>
<link href="__MUI__/css/font/iconfont.css" rel="stylesheet"/>
<link rel="shortcut icon" type="image/x-icon" href="__ERP__/images/favicon.ico" media="screen" />

<script src="__MUI__/js/jQuery%20v3.1.1.js"></script>
<script src="__MUI__/js/common.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>

<script type="text/javascript" charset="utf-8" src="__MUI__/js/vue.js"></script>
<script type="text/javascript" src="__MUI__/js/fontsize.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d9350108abee587070dd74caada8297d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

