<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/icon.css">
</head>
<body>
<table id="list" class="easyui-datagrid" title="{$title}"></table>
<div id="apply"></div>

{include file="base/js" /}
<script type="text/javascript">
    $(function () {
        $('#list').datagrid({
            singleSelect: false,
            rownumbers: true,
            resizeHandle: 'both',
            ctrlSelect: true,
            collapsible: false,
            method: 'post',
            url:'{$data_url}',
            striped: true,
            _customTitle: true,//开启自定义表头
            _customWidth: false,//自定义列宽
            pagination: true,
            showFooter: false,//是否显示合计行
            filterBtnIconCls: 'icon-filter',
            multiSort: true,
            remoteFilter:false,
            pageSize:20,
            columns:[
                [
                    { field: 'project_name', title: '项目名称', width: '30%', align: 'center',},
                    { field: 'name', title: '申请人', width: '20%', align: 'center',},
                    { field: 'apply_desc', title: '申请说明', width: '25%', align: 'center',},
                    { field: 'op', title: '操作',width:'20%',align: 'center',
                        formatter:function(value,row,index){
                            var str='';
                            str+='<a href="javascript:;" onclick="edit(&apos;'+row.guid+'&apos;)">审核</a>&nbsp;&nbsp;';
                            return str;
                        }
                    },
                ]
            ],
            toolbar:[],
            nowrap:false,//超出部分自动换行
        });
    });
    function edit(t) {
        var url="{:url('applyEdit')}/guid/"+t;
        $("#apply").dialog({
            title: '申请审核',
            iconCls: 'icon-save',
            width: '400',
            height: '300',
            cache: false,
            href: url,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
            buttons:[
                {
                    text: name ? name : ' 确 定 ',
                    iconCls: 'icon-save',
                    handler: function () {
                        $('#apply').find('form').eq(0).form('submit', {
                            onSubmit: function () {
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;
                                if($("#dep_manager").combobox("getValue")=="0"){
                                    $('#apply').dialog('close');
                                    return false;
                                }
                                $.messager.progress({text: '处理中，请稍候...'});
                                $.post(url, $(this).serialize(), function (data) {
                                    $.messager.progress('close');

                                    if (data.code != 1001) {
                                        layer.msg(data.msg, {icon: 3});
                                    } else {
                                        layer.msg(data.msg, {icon: 1});
                                        $('#list').datagrid("reload");
                                        $('#apply').dialog('close');
                                    }
                                }, 'json');
                                return false;
                            }
                        });
                    }
                },{
                    text:' 关 闭  ',
                    iconCls:'icon-clear',
                    handler: function(){
                        $('#apply').dialog('close');
                    }
                }
            ]
        });
    }
</script>
</body>
</html>

