<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">空间名称:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="budget_name" id="budget_name"
                   data-options="required:true,validType:'length[1,15]'" style="width:80%">
        </label>
    </section>

    <section>
        <label class="label_1">备注:</label>
        <label class="label_2">
            <textarea placeholder="请填写类型备注" name="budget_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>