<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section>
        <label class="label_1" style="">供应商:</label>
        <label class="label_2" >
            <input class="easyui-combobox"  name="supplier_id" id="supplier_id" style="width:80%"
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'guid',textField: 'supplier_name',required:true,url:'{:url('showSupplierJson')}',method:'get',">
        </label>
    </section>
    <section>
        <label class="label_1" style="">材料名称:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="material_name" id="material_name"
                   data-options="required:true,validType:'length[1,15]'" style="width:80%">
        </label>
    </section>
    <section >
        <label class="label_1" >规格:</label>
        <label class="label_2" >
            <input class="easyui-validatebox"  name="specifications"
                   data-options="validType:'length[1,15]'"
                   style="width:80%">
        </label>
    </section>
    <section >
        <label class="label_1" >品牌:</label>
        <label class="label_2" >
            <input class="easyui-validatebox"  name="material_pin"
                   data-options="validType:'length[1,15]'"
                   style="width:80%">
        </label>
    </section>
    <section >
        <label class="label_1" >型号:</label>
        <label class="label_2" >
            <input class="easyui-validatebox"  name="material_version"
                   data-options="validType:'length[1,35]'"
                   style="width:80%">
        </label>
    </section>
    <!--<section >-->
        <!--<label class="label_1" >库存:</label>-->
        <!--<label class="label_2" >-->
            <!--<input class="easyui-validatebox"  name="material_stock" id="material_stock"-->
                   <!--data-options="required:true,validType:'length[1,25]'"-->
                   <!--style="width:80%">-->
        <!--</label>-->
    <!--</section>-->
    <section>
        <label class="label_1">单位:</label>
        <label class="label_2" >
            <input class="easyui-combobox"  name="unit_name"  value="1" style="width:80%"
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'value',textField: 'text',required:true,url:'{:url('/erp/api/showFieldJson/name/unit_name')}',method:'get',">
        </label>
    </section>
    <section>
        <label class="label_1">类别:</label>
        <label class="label_2" >
            <input class="easyui-combobox"  name="category_id" id="category_id" style="width:80%"
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'guid',textField: 'category_name',required:true,url:'{:url('showCategoryJson')}',method:'get',">
        </label>
    </section>
    <section>
        <label class="label_1">售价(元):</label>
        <label class="label_2">
            <input class="easyui-validatebox" type="text" name="material_price" id="material_price"
                   data-options="required:true,validType:'length[1,10]'"
                   style="width:80%">
        </label>
    </section>
    <section>
        <label class="label_1">发包价(元):</label>
        <label class="label_2">
            <input class="easyui-validatebox" type="text" name="inside_price" id="inside_price"
                   data-options="required:true,validType:'length[1,10]'"
                   style="width:80%">
        </label>
    </section>
    <section>
        <label class="label_1">进价(元):</label>
        <label class="label_2">
            <input class="easyui-validatebox" type="text" name="floor_price" id="floor_price"
                   data-options="required:true,validType:'length[1,10]'"
                   style="width:80%">
        </label>
    </section>
    <section>
        <label class="label_1">材料所属:</label>
        <label class="label_2">
            <input type="radio" name="type" value="1" checked>主材   <input type="radio" name="type" value="2">辅材
        </label>
    </section>
    <section>
        <label class="label_1">展厅展示:</label>
        <label class="label_2">
            <input type="radio" name="show_mark" value="1" checked>是   <input type="radio" name="show_mark" value="-1">否
        </label>
    </section>
    <section>
        <label class="label_1">材料图片:</label>
        <label class="label_2">
            <input id="material_photo"  name="material_photo" class="easyui-textbox" data-options="editable:false,valueField: 'value',textField: 'text',onChange:function(newValue, oldValue){}" >
            <a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="addPhoto('material_photo')">上传图片</a>
            <input type="hidden"  id="photo_m"  name="photo_m" style="width:40%" value="">
        </label>
    </section>
    <section>
        <label class="label_1">材料说明:</label>
        <label class="label_2">
            <textarea placeholder="请填写材料说明" name="material_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>
    </section>
    
</form>
<div id="log"></div>
<script>
    function addPhoto(name) {
        $("#log").dialog({
            title:'上传图片',
            width:400,
            height:300,
            href:'{:url("design/showUploadHtml")}/idName/'+name,
        });
    }
</script>