material_list.html{extend name="base/base_search_list" /}

{block name="title"}{$title}{/block}



{block name="columns"}
[[{ field: "chk", "checkbox": true, movable: false}
, { field: 'base_name', title: '基装类型', width: '100', align: 'center', sortable: true}
, { field: 'base_desc', title: '备注',width: 180, align: 'center', sortable: true}
]]{/block}

{block name="filter"}[
]{/block}

{block name="value"}
{/block}

{block name="formatter"}function(value,row,index,field){
if (field == 'status') {
//这是个格式化实例
return eval("value_" + field)[value] ? eval("value_" + field)[value] : '-';
}else if (eval("value_" + field)[value]) {
return eval("value_" + field)[value];
}else if (field[value]){
return field[value];
} else {
return value;
}
}{/block}

{block name="url"}
datagrid:'#list',
dialog:'#dialog_div',
datagrid_url:'{$data_url??url()}',
dialog_url:'{$dialog_url??str_replace("List","Edit",url())}'
{/block}


{block name="toolbar"}[
{ text:'添加', iconCls: 'icon-add', handler:function(){ mikkleClass.addForm(420,200)} },'-',
{ text:'修改', iconCls: 'icon-edit',  handler:function(){ mikkleClass.editForm(420,200);} },'-',
{ text:'刷新', iconCls: 'icon-reload',  handler: function(){mikkleClass.refresh(); }},'-',
{ text:'帮助', iconCls: 'icon-help',  handler: function(){alert('帮助按钮')} },'-'
]{/block}