<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{block name="title"}{$title}{/block}</title>
		 <link href="__ERP__/css/base.css" rel="stylesheet">
		<link rel="stylesheet" href="__EASYUI151__/themes/default/easyui.css">
		{block name="my_css"}<link rel="stylesheet" href="__ERP__/css/submit.css">{/block}


	</head>

	<body>
		<div class="container">
			{block name="my_form"}
			{/block}
		</div>

		<script type="text/javascript" src="__EASYUI151__/jquery.min.js"></script>
		<script type="text/javascript" src="__EASYUI151__/jquery.easyui.min.js"></script>
		{block name="my_js"}{/block}
	</body>

</html>