<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/icon.css">
    <link rel="stylesheet" href="__STATIC__/erp/css/submit.css">
</head>
<body>
<div id="dlog"></div>
<div style="width: 92%;float: left">
    {block name="label"}

    {/block}
    <table id="dg" class="easyui-datagrid" title="{$title}" style="width:100%;height:auto"
           data-options="
                nowrap:false,
				iconCls: 'icon-edit',
				singleSelect: true,
				toolbar: '#tb',
				url: '{$data_url}',
				method: 'post',
				nowrap:false,
				onDblClickCell: onDbClickForPay,
				onEndEdit:editRowForPay,
				pageSize:20,
				pagination:true,
				rownumbers: true,
			">
        <thead>
        <tr>
            {block name="columns"}

            {/block}
        </tr>
        </thead>
    </table>
    {block name="biaoqian"}{/block}
    <div id="tb" style="height:auto;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addRow()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">取消当前编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="removeit()">刷新</a>
        {block name="button"}{/block}
    </div>
</div>
<div style="clear: both">
</div>

<script type="text/javascript" src="__STATIC__/easyui_151/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/easyui_151/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/easyui_151/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
    var clickIndex; //点击的下标
    var flag;  //判断提交的数据是否成功
    {block name="value"}{/block}
    {block name="my_js"}{/block}
    function defaultValue() {
        var g = $('#cc').combogrid('grid');
        var r = g.datagrid('getSelected');
    }
    function editRowForPay(index, row, changes) {
        if(!$.isEmptyObject(changes)){
            flag=index;
        }
    }
    function  onDbClickForPay(index){
        if(clickIndex===0||clickIndex){
            $('#dg').datagrid('endEdit', clickIndex);
            var  rows= $('#dg').datagrid('getChanges');
            var obj_new=$('#dg').datagrid('getRows')[clickIndex];
            var url='{$add_url}';
            if(flag==clickIndex){
                $.ajax({
                    type: "POST",
                    url: url,
                    data:obj_new ,
                    dataType: "json",
                    success: function(data){
                        if (data.code=="1001"){
                            $('#dg').datagrid('endEdit', clickIndex);
                            $('#dg').datagrid('selectRow', index)
                                .datagrid('beginEdit', index);
                            clickIndex=index;
                        }else{
                            layer.msg(data.msg+',请点击重新填写，否则该数据不存在',{icon:2});
                        }
                    }
                });
            }else{
                $('#dg').datagrid('endEdit', clickIndex);
                $('#dg').datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                clickIndex=index;
            }
        }else{
            $('#dg').datagrid('selectRow', index).datagrid('beginEdit', index);
            clickIndex=index;
        }

    }
    function addRow(){
        if(clickIndex!==undefined){
            if($('#dg').datagrid('validateRow', clickIndex)){
                $('#dg').datagrid('endEdit', clickIndex);
                var obj_new=$('#dg').datagrid('getRows')[clickIndex];
                var url='{$add_url}';
                $.ajax({
                    type: "POST",
                    url: url,
                    data:obj_new ,
                    dataType: "json",
                    success: function(data){
                        if (data.code=="1001"){
                            $('#dg').datagrid('insertRow',{index: 0
                                ,row:{
                            {block name="default_value"}{/block}
                                }
                            });
                            clickIndex=0,
                                $('#dg').datagrid('selectRow', clickIndex)
                                    .datagrid('beginEdit', clickIndex);
                        }else{
                            $('#dg').datagrid('selectRow', clickIndex)
                                .datagrid('beginEdit', clickIndex);
                            layer.msg(data.msg+',请点击重新填写，否则该数据不存在',{icon:2});
                        }
                    }
                });
            }else{
                return false;
            }

        }else{
            $('#dg').datagrid('insertRow',{index: 0
                ,row:{
            {block name="default_value"}{/block}
                }
            });
            clickIndex=0;
            $('#dg').datagrid('selectRow', clickIndex)
                .datagrid('beginEdit', clickIndex);
        }


    }
    function removeit(){
        clickIndex=undefined;
        $("#dg").datagrid('reload');
    }
    function accept(){
        $('#dg').datagrid('endEdit', clickIndex);
        var obj_new=$('#dg').datagrid('getRows')[clickIndex];
        ajax('{$add_url}',obj_new);

    }
    function ajax(url,obj){
        $.ajax({
            type: "POST",
            url: url,
            data:obj ,
            dataType: "json",
            success: function(data){
                if (data.code=="1001"){
                    layer.msg('数据保存成功',{icon:1});
                    removeit();
                }else{
                    $('#dg').datagrid('selectRow', clickIndex)
                        .datagrid('beginEdit', clickIndex);
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
    function del(a) {
        return '<a href="javascript:delData(&apos;'+a+'&apos;);">删除</a>';
    }
    function delData(a){
        console.log(typeof (a));
        if (typeof (a)=="undefined"){
            return false;
        }
        $.messager.confirm('提示信息', '确定要删除吗？', function(result){
            if(!result) return false;
            $.messager.progress({text:'处理中，请稍候...'});
            $.post('{$del_url}', {id: a}, function(data){
                $.messager.progress('close');
                if (data.code != 1001) {
                    layer.msg(data.msg, {icon: 2});
                } else {
                    layer.msg(data.msg, {icon: 1});
                    $("#dg").datagrid('reload');
                }
            }, 'json');
        });

    }
</script>
</body>
</html>