<div class="login-ft" style="padding-top: 100px;">
    <div class="ft-inner">
        <div class="about-us" style="min-width: 500px;">
            <a href="javascript:;aboutUs()">关于我们</a>
            <a href="javascript:statement();">法律声明</a>
            <a href="javascript:service();">服务条款</a>
            <a href="javascript:;">客服电话：0755-36852777</a>
        </div>
        <div class="address">地址：广东省深圳市罗湖区庐山大厦B座&nbsp;邮编：518000&nbsp;&nbsp;Copyright&nbsp;©&nbsp;2016&nbsp;-&nbsp;2099&nbsp;深圳云紫峰网络科技股份有限公司&nbsp;版权所有</div>
        <!--<div class="other-info">建议使用IE8及以上版本浏览器&nbsp;苏ICP备&nbsp;E-mail：admin@uimaker.com</div>-->

        <div class="other-info">建议使用IE8及以上版本浏览器&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn">粤ICP备16072931号</a></div>
    </div>
</div>
<script src="__WEUI__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/erp/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d9350108abee587070dd74caada8297d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>