<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/easyui_151/themes/icon.css">
</head>
<body>
<div style="margin-bottom:10px">
    <a style="font-size: 14px;">姓名：</a><input id="name" class="easyui-textbox" type="text" name="name" >
    <a href="#" class="easyui-linkbutton" onclick="searName()">搜 索</a>
    <a href="#" class="easyui-linkbutton" onclick="showAllUser()">显示全部</a>
</div>
<table id="list" class="easyui-datagrid"></table>



{include file="base/js" /}
<script type="text/javascript">
    $(function () {
        $('#list').datagrid({
            singleSelect: false,
            rownumbers: true,
            resizeHandle: 'both',
            ctrlSelect: true,
            collapsible: false,
            method: 'post',
            url:'{$data_url}',
            striped: true,
            _customTitle: true,//开启自定义表头
            _customWidth: false,//自定义列宽
            pagination: true,
            showFooter: false,//是否显示合计行
            filterBtnIconCls: 'icon-filter',
            multiSort: true,
            remoteFilter:false,
            pageSize:20,
            columns:[
                [{ field: 'department_name', title: '部门', width: '19%', align: 'center', }
                ,{ field: 'name', title: '姓名', width: '20%', align: 'center', }, { field: 'sum', title: '总客户量',width:'12%',align: 'center',
                    formatter:function(value,row,index){
                        return '<a style="text-decoration: none" title="查看详细" href="javascript:lookMoreOfUser(&apos;'+row.uuid+'&apos;);">'+value+'</a>';
                    }
                  }
                , { field: 'success', title: '签单量',width:'12%',align: 'center', formatter:function(value,row,index){
                    return '<a style="text-decoration: none" title="查看详细" href="javascript:lookSuccessOfUser(&apos;'+row.uuid+'&apos;);">'+value+'</a>';
                }}
                , { field: 'false', title: '废单量',width:'12%',align: 'center', formatter:function(value,row,index){
                    return '<a style="text-decoration: none" title="查看详细" href="javascript:lookFalseOfUser(&apos;'+row.uuid+'&apos;);">'+value+'</a>';
                }}
                , { field: 'now', title: '未完成',width:'12%',align: 'center', formatter:function(value,row,index){
                    return '<a style="text-decoration: none" title="查看详细" href="javascript:lookNowOfUser(&apos;'+row.uuid+'&apos;);">'+value+'</a>';
                }}
                ,{ field: 'rate', title: '签单转化率',width:'12%',align: 'center'}
                ]
            ],
            toolbar:[],
            nowrap:false,//超出部分自动换行
        });
    });
    function searName() {
        var name=$("#name").textbox('getValue');
        if (!name){
            showAllUser();
            return false;
        }
        var str='';
        str+='[{"field":"name","op":"contains","value":"'+name+'","type":"text"}';
        str+=']';
        $('#list').datagrid({
            queryParams: {
                filterRules:str,
            }
        });
    }
    function showAllUser() {
        $("#name").textbox('setValue','');
        $('#list').datagrid({
            queryParams: {
                filterRules:{},
            }
        });
    }
    function lookMoreOfUser(id) {
        var url='{$more_url}/time/{$time}/id/'+id;
        window.parent.showDlog(url);
    }
    function lookSuccessOfUser(id) {
        var url='{$success_url}/time/{$time}/id/'+id;
        window.parent.showDlog(url);
    }
    function lookFalseOfUser(id) {
        var url='{$false_url}/time/{$time}/id/'+id;
        window.parent.showDlog(url);
    }
    function lookNowOfUser(id) {
        var url='{$now_url}/time/{$time}/id/'+id;
        window.parent.showDlog(url);
    }
</script>
</body>
</html>

