<form id="fm" style="padding:0 30px;" method="post" name="form">
    <p>
        <span>收款类型：</span>
        <span>{$obj['collect_type_name']}</span>
        <span style="margin-left: 5%">合同编号：</span>
        <span>{$obj['number']}</span>
        <span style="margin-left: 5%">项目名称：</span>
        <span>{$name}</span>
    </p>
    <section >
        <label class="label_1">自然单据号:</label>
        <label  class="label_2">
            {$obj['dj_number']}
        </label>
    </section>
    <section >
        <label class="label_1">款项名称:</label>
        <label class="label_2">
            {$obj['collect_name']}
        </label>
    </section>
    <section >
        <label  class="label_1">应付款金额:</label>
        <label  class="label_2">
            {$obj['price']}元
        </label>
    </section>
    <section>
        <label  class="label_1">验收说明:</label>
        <label class="label_2">
            <textarea placeholder="" id="collect_desc" name="accepatance_desc" style="width:80%;height: 100px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>