<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/default/easyui.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/icon.css">-->
    <!--<link rel="stylesheet" href="/static/erp/css/submit.css">-->
    {include file="base/css" /}
</head>
<body>
<div style="width: 92%;float: left">
    <div id="tb" style="height:auto;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-back',plain:true" onclick="returnLookProjectList()"> 返 回 </a>
        <a style="margin-left: 10px;">搜索条件:</a>
        <a style="margin-left: 15px;">装饰项目名称：<input type="text" id="name"></a>
        <a style="margin-left: 10px;" href="#" class="easyui-linkbutton" onclick="sear()">
            <span class="l-btn-icon icon-search"></span>
            <span class="l-btn-text l-btn-icon-left">搜索</span>
        </a>
        <a style="margin-left: 10px;" href="javascript:void(0)" class="easyui-linkbutton" onclick="materialBuy()">材商浏览模式</a>
        <a style="margin-left: 10px;display: {$none}" href="javascript:void(0)" class="easyui-linkbutton" onclick="applyReview()">申请审核</a>
    </div>
</div>
<div id="dlog">
</div>

<table id="dg" title="{$title}"></table>




{include file="base/js" /}

<!--<script type="text/javascript" src="/static/easyui_151/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/jquery.easyui.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/easyui-lang-zh_CN.js"></script>-->
<!--<script type="text/javascript" src="/static/layer/layer.js"></script>-->
<script type="text/javascript">
    {:widget('Easyui/showAll', ["unit_name","unit_name"] )}
    $(function(){
        $('#dg').treegrid({
            url:'{$data_url}',
            idField:'guid',
            treeField:'name',
            columns:[[
                {field:'name',title:'名称',width:"15%",align:'left'},
                {field:'is_material',title:'是否材料',width:"5%",align:'center',
                    formatter:function(value,row,index){
                        if(value=="1") {
                            return '材料';
                        }else{
                            return '';
                        }
                    }},
                { field: 'unit', title: '单位', width: "5%", align: 'center',
                    formatter:function(value,row,index){
                        if(eval("value_unit_name")[value]) {
                            return eval("value_unit_name")[value];
                        }else if (('array_unit_name')[value]){
                            return ('array_unit_name')[value];
                        } else{
                            return value;
                        }
                    }
                }
                ,{ field: 'number', title: '数量', width: "5%", align: 'center',
                    formatter:function(value,row,index){
                        if (value){
                            return value;
                        }else{
                            return 0;
                        }
                    }
                }
                , { field: 'price', title: '单价(元)', width: "8%", align: 'center',
                    formatter:function(value,row,index){
                        return value;
                    }}
                ,{ field: 'sum_price', title: '金额', width: "10%",align: 'center',
                    formatter:function(value,row,index){
                        if(row.price){
                            var price=Number(row.price)* row.number;
                            return  '<a style="color: red;">'+ price.toFixed(2)+'</a>';
                        }
                    }
                },
                {field:'op',title:'操作',width:"15%",align:'center',
                    formatter:function(value,row,index){
                        var str='';
                        if (row.is_material!=1){
                            str+='<a href="javascript:;" onclick="addMaterial(&apos;'+row.guid+'&apos;)">添加主材</a>';
                        }else{
                            str+='<a href="javascript:;" onclick="showMore(&apos;'+row.guid+'&apos;)">详细</a>&nbsp;&nbsp;';
                            str+='<a href="javascript:;" onclick="replaceMaterial(&apos;'+row.guid+'&apos;)">更换主材</a>&nbsp;&nbsp;';
                            str+='<a href="javascript:;" onclick="editMaterialNumber(&apos;'+row.guid+'&apos;)">更改数量</a>&nbsp;&nbsp;';
                            str+='<a href="javascript:;" onclick="delMaterial(&apos;'+row.guid+'&apos;)">删除</a>';
                        }
                        return str;
                    }
                }
                ,{field:'desc',title:'工艺说明',width:"37%",align:'center',}
            ]],
            singleSelect: true,
            toolbar: '#tb',
            method: 'post',
            nowrap:false,
            pageSize:20,
            pagination:true,
        });
    });
    function sear(){
        var tex=$("#name").val();
        if(tex){
            var str='[{"field":"name","op":"contains","value":"'+tex+'","type":"text"}';
            str+=']';
            $('#dg').treegrid({
                queryParams: {
                    filterRules:str,
                }
            });
        }else{
            $('#dg').treegrid('reload',{});
        }
    }
    function materialBuy() {
        window.parent.addTab('材料采购','{:url("materialBuy",["pro_id"=>$pro_id,"number"=>$book_number])}','close');
    }

    function applyReview() {  //申请审核
        $.post('{:url("applyReview")}',{project_id:'{$pro_id}',book_number:'{$book_number}'},function (data) {
            if(data.code=="1001"){
                layer.msg('申请成功，等待审核', {icon: 1});
                setTimeout(function () {
                    window.parent.closeTab("采购清单");
                    window.parent.addTab('项目用料选购','{:url("showEnginProject")}','close');
                },700);
                return false;
            }else{
                layer.msg(data.msg, {icon: 2});
                return false;
            }
        },'json');
    }


    function addMaterial(t) {
        window.parent.addTab('材料选取','{:url("showMaterialAdd")}/guid/'+t+'/pro_id/{$pro_id}','close');
    }
    function replaceMaterial(a) {
        window.parent.addTab("材料更换",'{:url("replaceMaterial")}/guid/'+a+'/pro_id/{$pro_id}','close')
    }
    function editMaterialNumber(a) {
        layer.open({
            type: 2,
            title: '修改需求量',
            shadeClose: true,
            shade: 0.8,
            area: ['380px', '180px'],
            content: '{:url("editMaterialNumber")}/guid/'+a//iframe的url
        })
    }
    function resh() {
        $('#dg').treegrid('reload',{});
    }
    function delMaterial(a) {
        $.post("{:url('delMaterial')}",{guid:a},function (data) {
            if (data.code=="1001"){
                layer.msg(data.msg, {icon: 1});
                resh();
                return false;
            }else{
                layer.msg(data.msg, {icon: 2});
                return false;
            }
        },'json');
    }
    function showMore(a) {
        $("#dlog").dialog({
            title: '材料详细',
            width: 600,
            height: 380,
            cache: false,
            href: '{:url("showMore")}/guid/'+a,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
        })
    }
    function returnLookProjectList() {
        window.parent.closeTab('采购清单');
    }
</script>
</body>
</html>