<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/default/easyui.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/static/easyui_151/themes/icon.css">-->
    <!--<link rel="stylesheet" href="/static/erp/css/submit.css">-->
    {include file="base/css" /}
</head>
<body>
<div style="width: 92%;float: left">
    <div id="pro_tb" style="height:auto;padding-left: 10px;">
        <!--<a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="contractPrint()">发包预算</a>-->
        <!--<a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="supervision()">分配监理</a>-->
        <a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="designBook()">合同预算浏览</a>
        <a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="designBookPrint()">合同预算打印</a>
        <a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="contractPrintLook()">发包预算预览</a>
        <!--&lt;!&ndash;<a style="margin: 0 10px;" href="javascript:void(0)" class="easyui-linkbutton"  onclick="backReturn()">分配监理</a>&ndash;&gt;-->
    </div>
</div>
<div id="pro_dlog">
</div>

<table id="pro_dg" title="{$title}" style="width: 100%"></table>
<div style="height: 15px;"></div>

<table id="pro_price" title="领款明细" style="width: 100%;"></table>



<!--<script type="text/javascript" src="/static/easyui_151/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/jquery.easyui.min.js"></script>-->
<!--<script type="text/javascript" src="/static/easyui_151/easyui-lang-zh_CN.js"></script>-->
<!--<script type="text/javascript" src="/static/layer/layer.js"></script>-->
{include file="base/js" /}
<script type="text/javascript">
    $(function(){
        $('#pro_dg').datagrid({
            url:'{$data_url}',
            columns:[[
//                {field:"chk", "checkbox": true, movable: false},
                {field:'categories_name',title:'工程类别',width:"15%",align:'center'},
                {field:'categories_price',title:'工程价格',width:"10%",align:'center',},
                {field:'build_time',title:'施工开始日期',width:"10%",align:'center',},
                {field:'build_end_time',title:'施工结束日期',width:"10%",align:'center',},
                {field:'build_status',title:'工期提醒',width:"10%",align:'center',
                    formatter:function(value,row,index){
                        if (row.build_status){
                            if(row.type=="1"){
                                return '';
                            }
                            if (row.build_status_type==1){
                                return '<span>剩余'+value.toFixed(1)+'天</span>';
                            }else{
                                return '<span style="color: red">延期'+value.toFixed(1)+'天</span>';
                            }
                        }
                    }
                },
                {field:'build_days',title:'施工天数',width:"10%",align:'center',},
                {field:'build_user',title:'施工人员',width:"10%",align:'center',
                    formatter:function(value,row,index){
                        if (row.id){
                            return '<a href="javascript:;" onclick="lookSupervisionUser(&apos;'+row.guid+'&apos;)">查看</a>';
                        }

                    }
                },
                {field:'op',title:'操作',width:"25%",align:'center',
                    formatter:function(value,row,index){
                        if (row.id){

                            if(row.type=="0"){
                                var str='<a href="javascript:;" onclick="lookBuildDetailed(&apos;'+row.guid+'&apos;)">查看明细</a>&nbsp;';
                                str+='<a href="javascript:;" onclick="supervisionUser(&apos;'+row.guid+'&apos;)">分配施工队</a>&nbsp;';
                                str+='<a href="javascript:;" onclick="constructionPhoto(&apos;'+row.guid+'&apos;)">施工图片</a>&nbsp;';
                                str+='<a href="javascript:;" onclick="projectBuildApply(&apos;'+row.guid+'&apos;)">完工申请</a>';
                            }else{
                                var str='<a href="javascript:;" onclick="lookBuildDetailed(&apos;'+row.guid+'&apos;)">查看明细</a>&nbsp;';
                                str+='<a href="javascript:;" onclick="constructionPhoto(&apos;'+row.guid+'&apos;)">施工图片</a>&nbsp;';
                            }

                        }
                        return str;
                    }
                },
            ]],
            showFooter:true,
            singleSelect: false,
            toolbar: '#pro_tb',
            method: 'post',
            nowrap:false,
            pageSize:20,
            pagination:true,
        });
        $('#pro_price').datagrid({
            url:'{:url("showProjectPriceOfMy",["pro_id"=>$pro_id])}',
            columns:[[
                {field:'category_name',title:'工程类别',width:"15%",align:'center'},
                {field:'value',title:'领款百分比',width:"10%",align:'center',},
                {field:'price',title:'领款金额',width:"15%",align:'center',},
//                {field:'build_end_time',title:'施工结束日期',width:"15%",align:'center',},
//                {field:'build_days',title:'施工天数',width:"10%",align:'center',},
//                {field:'build_user',title:'施工人员',width:"10%",align:'center',
//                    formatter:function(value,row,index){
//                        return '<a href="javascript:;" onclick="lookBuildUser(&apos;'+row.guid+'&apos;)">查看</a>';
//                    }
//                },
                {field:'op',title:'操作',width:"20%",align:'center',
                    formatter:function(value,row,index){
                        if (row.get_price=="1"){
                            return "<a style='color: #1da02d'>已领取</a>";
                        }else if (row.get_price=="0"){
                            return "<a style='color:red'>已申请</a>";
                        }
                        if(row.apply_status=="1"){
                            var str='<a style="color: #0bb20c" href="javascript:;" onclick="projectPriceApply(&apos;'+row.category_id+'&apos;)">领款申请</a>&nbsp;&nbsp;';
                        }
//
                        return str;
                    }
                },
            ]],
            showFooter:true,
            singleSelect: false,
            toolbar: '',
            method: 'post',
            nowrap:false,
            pageSize:20,
            pagination:true,
        });

    });
    function lookBuildDetailed(a) {
        window.parent.addTab("工程明细",'{:url("lookBuildDetailed",["pro_id"=>$pro_id])}/id/'+a,'close');
    }
    function designBook() {  //预算书查看
        window.parent.addTab('预算书查看','{:url("designBook",["guid"=>$pro_id])}','close');
    }
    function designBookPrint() {  //打印发包预算
        window.open('{:url("Design/showBook",["guid"=>$pro_id])}');
    }
    function contractPrintLook(){  //发包预览
        window.parent.addTab('发包预算预览','{:url("contractPrintLook",["pro_id"=>$pro_id])}','close');
    }
    function lookSupervisionUser(a) {  //查看施工人员
        var href="{:url('lookSupervisionUser',['pro_id'=>$pro_id])}/guid/"+a;
        $("#pro_dlog").dialog({
            title: "施工队",
            iconCls: 'icon-save',
            width: '65%',
            height: '400',
            cache: false,
            href: href,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
        })
    }
    function supervisionUser(a) { //分配施工队
        var href="{:url('supervisionUser',['pro_id'=>$pro_id])}/category_id/"+a;
        $("#pro_dlog").dialog({
            title: "分配施工队",
            iconCls: 'icon-save',
            width: '600',
            height: '400',
            cache: false,
            href: href,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
            buttons:[{
                text:' 确 定 ',
                iconCls: 'icon-save',
                handler:function(){
                    $('#pro_dlog').find('form').eq(0).form('submit', {
                        onSubmit: function () {
                            var isValid = $(this).form('validate');
                            if (!isValid) return false;
                            $.messager.progress({text: '处理中，请稍候...'});
                            var user_arr=[];
                            if ($("#user").datagrid("getSelections").length==0){
                                layer.msg('未选择人员'  , {icon: 2});
                                $('#pro_dlog').dialog('close');
                                return false;
                            }else{
                                $.each($("#user").datagrid("getSelections"),function (i,t) {
                                    user_arr.push(t.uuid);
                                })
                            }
                            var obj={
                                'user_id':user_arr,
                            };
                            $.post(href,obj, function (data) {
                                $.messager.progress('close');
                                if (data.code != 1001) {
                                    layer.msg(data.msg ? data.msg : "请联系管理员"  , {icon: 2});
                                } else {
                                    layer.msg(data.msg  , {icon: 1});
                                    $('#pro_dlog').dialog('close');
                                    $('#pro_dg').datagrid('load',{});
                                }
                            }, 'json');
                            return false;

                        }
                    });
                }
            },{
                text:' 关 闭 ',
                iconCls:'icon-clear',
                handler:function(){
                    $('#pro_dlog').dialog('close');
                }
            }],
        });
    }
    function constructionPhoto(a){  //施工图片
        var href="{:url('constructionPhoto',['pro_id'=>$pro_id])}/guid/"+a;
        $("#pro_dlog").dialog({
            title: "施工图片",
            iconCls: 'icon-save',
            width: '80%',
            height: '600',
            cache: false,
            href: href,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
        })
    }
    function projectBuildApply(id) {
        var url="{:url('projectBuildApply',['pro_id'=>$pro_id])}/guid/"+id;
        $("#pro_dlog").dialog({
            title: "完工申请",
            iconCls: 'icon-save',
            width: '450',
            height: '250',
            cache: false,
            href: url,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
            buttons:[{
                text:' 确 定 ',
                iconCls: 'icon-save',
                handler:function(){
                    $('#pro_dlog').find('form').eq(0).form('submit', {
                        onSubmit: function () {
                            var isValid = $(this).form('validate');
                            if (!isValid) return false;
                            $.messager.progress({text: '处理中，请稍候...'});
                            $.post(url,$(this).serialize(), function (data) {
                                $.messager.progress('close');
                                if (data.code != 1001) {
                                    layer.msg(data.msg ? data.msg : "请联系管理员"  , {icon: 2});
                                } else {
                                    layer.msg(data.msg  , {icon: 1});
                                    $('#pro_dlog').dialog('close');
                                    $('#pro_dg').datagrid('load',{});
                                }
                            }, 'json');
                            return false;

                        }
                    });
                }
            },{
                text:' 关 闭 ',
                iconCls:'icon-clear',
                handler:function(){
                    $('#pro_dlog').dialog('close');
                }
            }],
        });
    }
    function projectPriceApply(a){  //领款申请
        var href='{:url("projectPriceApply",["pro_id"=>$pro_id])}/guid/'+a;
        var url=href;
        $("#pro_dlog").dialog({
            title:'领款申请',
            iconCls: 'icon-save',
            width: 500,
            height: 600,
            cache: false,
            href: href,
            modal: true,
            collapsible: false,
            minimizable: false,
            resizable: false,
            maximizable: false,
            buttons:[
                {
                    text:' 确 认  ',
                    iconCls:'icon-save',
                    handler: function(){
                        $("#pro_dlog").find('form').eq(0).form('submit', {
                            onSubmit: function () {
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;
                                $.messager.progress({text: '处理中，请稍候...'});
                                $.post(url, $(this).serialize(), function (data) {
                                    $.messager.progress('close');
                                    if (data.code != 1001) {
                                        layer.msg(data.msg, {icon: 3});
                                    } else {
                                        layer.msg(data.msg, {icon: 1});
                                        $('#pro_dlog').dialog('close');
                                    }
                                }, 'json');
                                return false;
                            }
                        });
                    }
                }
                ,{
                    text:' 关 闭  ',
                    iconCls:'icon-clear',
                    handler: function(){
                        $("#pro_dlog").dialog('close');
                    }
                }],
        });

    }
</script>
</body>
</html>