<form>
    <section >
        <label class="label_1" >领款百分比:</label>
        <label class="label_2" >
            <input class="easyui-textbox"  name="value" id="percentage"
                   data-options="required:true,"
                   style="width:60%">
        </label>
    </section>
    <section>
        <label class="label_1">说明:</label>
        <label class="label_2">
            <textarea id="desc"  name="desc" style="width:80%;height: 70px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>
