<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section >

        <label for="company_name" class="label_1" style="">公司名称:</label>

        <label for="company_name" class="label_2" style="">

            <input class="easyui-validatebox" type="text" name="company_name"

                   data-options="required:true,validType:'maxLengthTwo[3]'" placeholder="请填写公司名称"

                   style="width:80%">

        </label>

    </section>

    <section>

        <label for="company_desc" class="label_1">公司备注:</label>

        <label for="company_desc" class="label_2">
            <textarea placeholder="请填写公司备注" name="company_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>

    </section>


</form>









