<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section>
        <label for="company_id" class="label_1">所属公司:</label>
        <label for="company_id" class="label_2">
            <input class="easyui-combobox" id="company_id"  name="company_id" style="width:80%;" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'id',textField: 'text',required:true,url:'{:url('showCompanyJson')}',method:'get',
                onSelect:function(region){
                    $('#department_id').combobox('reload','/erp/system/showDepartmentJson?company='+region.id);
                }
                   ">
        </label>
    </section>
    <section>
        <label for="department_type" class="label_1">部门类型:</label>
        <label for="department_type" class="label_2">
            <input class="easyui-combobox"  id="department_type"  name="department_type" style="width:80%;" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'value',textField: 'text',required:true,url:'{:url('/erp/api/showFieldJson/name/department_type')}',method:'get',">
        </label>
    </section>
    <section>
        <label for="department_id" class="label_1">所属部门:</label>
        <label for="department_id" class="label_2">
            <input class="easyui-combobox" id="department_id" name="department_id" style="width:80%;" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'department_id',textField: 'department_name',required:true,url:'{:url('showDepartmentJson')}',method:'get',">
        </label>
    </section>
    <section >
        <label  class="label_1" style="">职位名称:</label>
        <label  class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="jobs_name"
                   data-options="required:true,validType:'maxLengthTwo[3]'" placeholder="请填写职位名称"
                   style="width:80%">
        </label>
    </section>
    <section>
        <label  class="label_1">职位备注:</label>
        <label  class="label_2">
            <textarea placeholder="请填写职位备注" name="jobs_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>
    </section>
</form>
