material_list.html{extend name="base/base_search_list" /}

{block name="title"}{$title}{/block}



{block name="columns"}
[[{ field: "chk", "checkbox": true, movable: false }
, { field: 'material_name', title: '材料名称', width: '100', align: 'center', sortable: true}
, { field: 'specifications', title: '规格', width: 180,align: 'center', sortable: true}
, { field: 'unit_name', title: '单位',width: '180', align: 'center', sortable: true,{:widget('Easyui/formatter')}}
, { field: 'material_price', title: '单价(元)', width: '180', align: 'center', sortable: true}
, { field: 'floor_price', title: '发包价(元)',width: '180', align: 'center', sortable: true}
, { field: 'explain', title: '说明',width: '180', align: 'center', sortable: true}
]]{/block}

{block name="filter"}[
{:widget('Easyui/showFilter', ["unit_name","combobox"])}
]{/block}

{block name="value"}
{:widget('Easyui/showAll', ["unit_name","unit_name"] )}
{/block}

{block name="formatter"}function(value,row,index,field){
if (field == 'status') {
//这是个格式化实例
return eval("value_" + field)[value] ? eval("value_" + field)[value] : '-';
}else if (eval("value_" + field)[value]) {
return eval("value_" + field)[value];
}else if (field[value]){
return field[value];
} else {
return value;
}
}{/block}

{block name="url"}
datagrid:'#list',
dialog:'#dialog_div',
datagrid_url:'{$data_url??url()}',
dialog_url:'{$dialog_url??str_replace("List","Edit",url())}'
{/block}


{block name="toolbar"}[
{ text:'添加', iconCls: 'icon-add', handler:function(){ mikkleClass.addForm(420,380);} },'-',
{ text:'修改', iconCls: 'icon-edit',  handler:function(){ mikkleClass.editForm(420,380);} },'-',
{ text:'删除', iconCls: 'icon-cancel', handler: function(){ mikkleClass.delForm();} },'-',
{ text:'刷新', iconCls: 'icon-reload',  handler: function(){mikkleClass.refresh(); }},'-',
{ text:'帮助', iconCls: 'icon-help',  handler: function(){alert('帮助按钮')} },'-'
]{/block}