<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section >
        <label for="role_name" class="label_1" style="">角色名称:</label>
        <label for="role_name" class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="role_name"
                   data-options="required:true,validType:'maxLengthTwo[3]'" placeholder="请填写角色名称"
                   style="width:80%">
        </label>
    </section>
    <section>
        <label for="role_desc" class="label_1">职位备注:</label>
        <label for="role_desc" class="label_2">
            <textarea placeholder="请填写角色备注" name="role_desc" style="width:80%;height: 60px;outline:none;resize:none;"></textarea>
        </label>
    </section>

</form>