<form id="fm" style="padding:0 30px;" method="post" name="form">
    <section style="margin-top: 10px;">
        <label class="label_1" style="">计划名称:</label>
        <label class="label_2" style="">
            <input class="easyui-validatebox" type="text" name="plan_name" data-options="required:true," style="width:80%">
        </label>
    </section>
    <section style="margin-top: 10px;">
        <label class="label_1" style="">重要程度:</label>
        <label class="label_2" style="">
            <input class="easyui-combobox" type="text" name="plan_grade" value=""
                   data-options="invalidMessage:'该项为必选项',missingMessage:'该项为必选项',editable:false,valueField: 'value',textField: 'text',required:true,url:'{:url('/erp/api/showFieldJson/name/plan_grade')}',method:'get',"
                   style="width:100%">
        </label>
    </section>
    <section style="margin-top: 10px;">
        <label class="label_1" style="">开始时间:</label>
        <label class="label_2" style="">
            <input class= "easyui-datebox" name="start_time" data-options=" editable:false,required:true,showSeconds:false"  style="width:80%" id="start_time">
        </label>
    </section>
    <section style="margin-top: 10px;">
        <label class="label_1" style="">结束时间:</label>
        <label class="label_2" style="">
            <input class= "easyui-datebox" name="end_time" data-options="editable:false,required:true,showSeconds:false"  style="width:80%" id="end_time">
        </label>
    </section>
    <section style="margin-top: 10px;">
        <label class="label_1" style="height: 36px;line-height: 36px;">工作内容:</label>
        <label class="label_2" style="height: 36px;line-height: 36px;" >
            <textarea id="content"  name="plan_content"  cols="27" rows="3" style="resize: none;margin-bottom: -10px;" ></textarea>
        </label>
    </section>
    <section style="margin-top: 35px;">
        <label class="label_1" style="height: 36px;line-height: 36px;">备注:</label>
        <label class="label_2" style="height: 36px;line-height: 36px;" >
            <textarea  name="plan_desc"   cols="27" rows="3" style="resize: none;margin-bottom: -10px;"></textarea>
        </label>
    </section>
</form>